<cart-items aria-busy="false" class="block relative" id="cart-items" data-view="cart">
  <div class="spinner-overlay loading [ absolute items-center justify-center bg-opacity-80 bg-white z-10 top-0 left-0 right-0 bottom-0 ]">
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="spinner w-10 h-10"
      viewBox="0 0 66 66"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
    </svg>
  </div>
  <form id="cart-items-form" action="{{ routes.cart_url }}" method="post" novalidate class="mt-5">
    <section aria-labelledby="cart-heading" class="lg:col-span-7">
      <h2 id="cart-heading" class="sr-only">Items in your shopping cart</h2>

      {%- if cart.items.size == 0 -%}
        <p colspan="5">{{ 'cart.general.empty' | t }}</p>
      {%- else -%}
        <ul class="">
          {%- for item in cart.items -%}
            <li class="flex mb-4 pb-4 border-b border-solid border-color">
              <div class="flex-shrink-0 w-16 lg:w-24 rounded-md overflow-hidden">
                <img
                  src="{{ item.image | image_url: width: 75 }}"
                  width="{{ item.image.width }}"
                  height="{{ item.image.height }}"
                  loading="lazy"
                  class="w-16	lg:w-24 h-auto rounded-md object-center object-cover"
                >
              </div>

              <div class="ml-4 flex-1 flex flex-col">
                <div>
                  <p class="heading mb-2 text-sm flex-shrink-0">{{ item.price | money_with_currency }}</p>
                  <p class="text-xs mb-2">
                    <a href="{{ item.url }}" class="text-xs">{{ item.title | escape }}</a>
                  </p>
                  {%- unless item.properties.size == 0 -%}
                    <div class="mt-1 flex">
                      {% for property in line_item.properties %}
                        <p class="text-xs">{{ property.first }}: {{ property.last }}</p>
                      {% endfor %}
                    </div>
                  {%- endunless -%}
                  {%- if template contains 'cart' -%}
                    <label for="quantity-2" class="sr-only">Quantity</label>
                    <div class="inline-block relative mb-2">
                      <quantity-selector class="flex border border-solid border-gray-200" data-key="{{ item.key }}">
                        <button data-button-minus type="button" class="[ w-5 py-1 leading-tight ]">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="mx-auto h-4 w-4"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                          >
                            <path fill-rule="evenodd" d="M5 10a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1z" clip-rule="evenodd" />
                          </svg>
                        </button>
                        <input
                          data-value
                          value="{{ item.quantity }}"
                          type="text"
                          id="Quantity"
                          name="quantity"
                          class="ajax-qty__input [ text-center w-10 py-1 leading-tight ]"
                        >
                        <button data-button-plus type="button" class="btn btn--minus [ w-5 py-1 leading-tight ]">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="mx-auto h-4 w-4"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                          >
                            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                          </svg>
                        </button>
                      </quantity-selector>
                    </div>
                  {%- endif -%}
                  <div class="flex">
                    <cart-remove-button
                      data-item-key="{{ item.key }}"
                      type="button"
                      class="appearance-none cursor-pointer -m-2 p-2 inline-flex"
                    >
                      <span class="text-xs underline">Remove</span>
                    </cart-remove-button>
                  </div>
                </div>
              </div>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </section>
  </form>
</cart-items>
