{% form 'create_customer', return_to: 'back' %}
  {% if form.posted_successfully? %}
    <div class="block w-100">
      {% capture success_message %}{{ 'customer.register.success' | t }}{% endcapture %}
      {% render 'alert-success' with message: success_message %}
    </div>
  {%- endif -%}

  {%- if form.errors -%}
    {% capture error_heading %}{{ 'customer.register.error' | t }}{% endcapture %}
    {% capture error_messages %}{{ form.errors | default_errors }}{% endcapture %}
    <div class="block w-100">
      {% render 'alert-error' with error: error_messages %}
    </div>
  {% endif %}

  <div class="mb-6">
    <label for="FirstName" class="visually-hidden">
      {{ 'customer.register.first_name' | t }}
    </label>
    <input
      id="FirstName"
      class="appearance-none bg-transparent text-sm rounded-none relative block w-full py-1 border-b border-color leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10"
      placeholder="{{ 'customer.register.first_name' | t }}"
      {% if form.first_name %}
        value="{{ form.first_name }}"
      {% endif %}
      aria-label="First name"
      name="customer[first_name]"
      type="text"
      spellcheck="false"
      autocomplete="off"
      autocapitalize="off"
      autofocus
    >
  </div>
  <div class="mb-6">
    <label for="lastName" class="visually-hidden">
      {{ 'customer.register.last_name' | t }}
    </label>
    <input
      id="lastName"
      class="appearance-none bg-transparent text-sm rounded-none relative block w-full py-1 border-b border-color leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10"
      placeholder="{{ 'customer.register.last_name' | t }}"
      {% if form.last_name %}
        value="{{ form.last_name }}"
      {% endif %}
      aria-label="Last name"
      name="customer[last_name]"
      type="text"
      spellcheck="false"
      autocomplete="off"
      autocapitalize="off"
      autofocus
    >
  </div>
  <div class="mb-6">
    <label for="CustomerEmail" class="visually-hidden">
      {{ 'customer.register.email' | t }}
    </label>
    <input
      id="CustomerEmail"
      class="appearance-none bg-transparent text-sm rounded-none relative block w-full py-1 border-b border-color leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 {% if form.errors contains 'email' %}input-error{% endif %}"
      placeholder="{{ 'customer.login.email' | t }}"
      aria-label="Email address"
      name="customer[email]"
      type="email"
      value="{% if form.email %}{{ form.email }}{% endif %}"
      required
      spellcheck="false"
      autocomplete="off"
      autocapitalize="off"
      autofocus
    >
  </div>
  <div>
    <label for="CustomerPassword" class="visually-hidden">
      {{ 'customer.register.password' | t }}
    </label>
    <input
      id="CustomerPassword"
      class="appearance-none bg-transparent text-sm rounded-none relative block w-full py-1 border-b border-color leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5 {% if form.errors contains 'password' %}input-error{% endif %}"
      aria-label="Password"
      name="customer[password]"
      type="password"
      required
      placeholder="{{ 'customer.register.password' | t }}"
    >
  </div>

  {%- unless hide_helpful_links -%}
    <div class="mt-1">
      <div class="text-sm">
        <a
          href="{{ shop.url }}"
          class="block underline text-left font-medium focus:outline-none focus:underline transition ease-in-out duration-150"
        >
          {{ 'customer.register.cancel' | t }}
        </a>
      </div>
    </div>
  {%- endunless -%}

  <div class="mt-6">
    <button
      type="submit"
      class="[ group relative w-full focus:shadow-outline focus:outline-none py-3 leading-tight text-left ]"
    >
      <span class="inline-block align-middle pr-2">
        {%- render 'icon-arrow-right' -%}
      </span>
      <span class="inline-block ">
        {{ 'customer.register.submit' | t }}
      </span>
    </button>
  </div>
{% endform %}
