{% form 'customer_address', address, class: 'w-full max-w-lg' %}
  <!-- personal -->
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label
        class="sr-only"
        for="AddressFirstNameNew_{{ form.id }}"
      >
        {{ 'customer.addresses.first_name' | t }}
      </label>
      <input
        class="appearance-none text-xs block w-full py-1 mb-3 focus:outline-none border-b border-solid border-color bg-transparent"
        type="text"
        name="address[first_name]"
        id="AddressFirstNameNew_{{ form.id }}"
        value="{{ form.first_name }}"
        autocapitalize="words"
        placeholder="{{ 'customer.addresses.first_name' | t }}"
      >
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label
        class="sr-only"
        for="AddressLastNameNew_{{ form.id }}"
      >
        {{ 'customer.addresses.last_name' | t }}
      </label>
      <input
        class="appearance-none text-xs block w-full py-1 focus:outline-none border-b border-solid border-color bg-transparent"
        type="text"
        name="address[last_name]"
        id="AddressLastNameNew_{{ form.id }}"
        value="{{ form.last_name }}"
        autocapitalize="words"
        placeholder="{{ 'customer.addresses.last_name' | t }}"
      >
    </div>
  </div>
  <!-- company -->
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label
        class="sr-only"
        for="AddressCompanyNew_{{ form.id }}"
      >
        {{ 'customer.addresses.company' | t }}
      </label>
      <input
        class="appearance-none text-xs block w-full py-1 mb-3 focus:outline-none border-b border-solid border-color bg-transparent"
        type="text"
        name="address[company]"
        id="AddressCompanyNew_{{ form.id }}"
        value="{{ form.company }}"
        autocapitalize="words"
        placeholder="{{ 'customer.addresses.company' | t }}"
      >
    </div>
  </div>
  <!-- address -->
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label
        class="sr-only"
        for="AddressAddress1New_{{ form.id }}"
      >
        {{ 'customer.addresses.address1' | t }}
      </label>
      <input
        class="appearance-none text-xs block w-full py-1 mb-3 focus:outline-none border-b border-solid border-color bg-transparent"
        type="text"
        name="address[address1]"
        id="AddressAddress1New_{{ form.id }}"
        value="{{ form.address1 }}"
        autocapitalize="words"
        placeholder="{{ 'customer.addresses.address1' | t }}"
      >
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label
        class="sr-only"
        for="AddressAddress2New_{{ form.id }}"
      >
        {{ 'customer.addresses.address2' | t }}
      </label>
      <input
        class="appearance-none text-xs block w-full py-1 mb-3 focus:outline-none border-b border-solid border-color bg-transparent"
        type="text"
        name="address[address2]"
        id="AddressAddress2New_{{ form.id }}"
        value="{{ form.address2 }}"
        autocapitalize="words"
        placeholder="{{ 'customer.addresses.address2' | t }}"
      >
    </div>
  </div>
  <!-- country -->
  <div class="flex flex-wrap -mx-3 mb-2">
    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
      <label
        class="sr-only"
        for="AddressCityNew_{{ form.id }}"
      >
        {{ 'customer.addresses.city' | t }}
      </label>
      <input
        class="appearance-none text-xs block w-full py-1 mb-3 focus:outline-none border-b border-solid border-color bg-transparent"
        type="text"
        name="address[city]"
        id="AddressCityNew_{{ form.id }}"
        value="{{ form.city }}"
        autocapitalize="words"
        placeholder="{{ 'customer.addresses.city' | t }}"
      >
    </div>
    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
      <label
        class="sr-only"
        for="AddressCountryNew_{{ form.id }}"
      >
        {{ 'customer.addresses.country' | t }}
      </label>
      <div class="relative">
        <select
          class="block appearance-none text-xs w-full py-1 pr-8 focus:outline-none border-b border-color bg-transparent"
          name="address[country]"
          id="AddressCountryNew_{{ form.id }}"
          data-default="{{ form.country }}"
          placeholder="{{ 'customer.addresses.country' | t }}"
        >
          {{ country_option_tags }}
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
          </svg>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
      <label
        class="sr-only"
        for="AddressZipNew_{{ form.id }}"
      >
        {{ 'customer.addresses.zip' | t }}
      </label>
      <input
        class="appearance-none text-xs block w-full py-1 mb-3 focus:outline-none border-b border-solid border-color bg-transparent"
        type="text"
        name="address[zip]"
        id="AddressZipNew_{{ form.id }}"
        value="{{ form.zip }}"
        autocapitalize="characters"
        placeholder="{{ 'customer.addresses.zip' | t }}"
      >
    </div>
  </div>
  <!-- phone -->
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label
        class="sr-only"
        for="AddressPhoneNew_{{ form.id }}"
      >
        {{ 'customer.addresses.phone' | t }}
      </label>
      <input
        class="appearance-none text-xs block w-full py-1 mb-3 focus:outline-none border-b border-solid border-color bg-transparent"
        type="tel"
        name="address[phone]"
        id="AddressPhoneNew_{{ form.id }}"
        value="{{ form.phone }}"
        pattern="[0-9\-]*"
        placeholder="{{ 'customer.addresses.phone' | t }}"
      >
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label
        class="block uppercase text-xs mb-2"
        for="address_default_address_{{ form.id }}"
      >
        {{ form.set_as_default_checkbox }}
        {{ 'customer.addresses.set_default' | t }}
      </label>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <button class="[ appearance-none focus:outline-none text-xs underline ]" type="submit">
        <span class="inline-block mr-4 align-middle">
          {%- render 'icon-arrow-right' -%}
        </span>
        <span class="inline-block align-middle">
          {{ 'customer.addresses.update' | t }}
        </span>
      </button>
      <button
        class="[ appearance-none focus:outline-none text-xs underline ]"
        type="button"
        @click="formEdit{{ index }} = false"
      >
        {{ 'customer.addresses.cancel' | t }}
      </button>
    </div>
  </div>

  <div id="AddressProvinceContainerNew" style="display: none">
    <label for="AddressProvinceNew">
      {{ 'customer.addresses.province' | t }}
    </label>
    <select
      name="address[province]"
      id="AddressProvinceNew"
      data-default="{{ form.province }}"
    ></select>
  </div>
{% endform %}
