<style>
  :root{
    --mini-cart-background-color: {{ section.settings.background_color }};
  }

  [data-mini-cart]{
    background-color: var(--mini-cart-background-color);
  }
</style>

<div
  data-drawer
  data-mini-cart
  aria-labelledby="slide-over-title"
  role="dialog"
  aria-modal="true"
  aria-hidden="true"
  class="block w-full transition-transform fixed right-0 top-0 bg-brand-four h-100v translate-x-full z-50 ease-in duration-500 aria-[hidden=false]:translate-x-0 max-w-md"
>
  <div class="flex flex-col min-h-full h-full overflow-y-auto max-h-100v relative">
    <div class="h-full flex flex-col shadow-xl overflow-y-scroll" data-cart-view="data-cart-view">
      <div class="flex-1 overflow-y-auto">
        <div class="flex items-center justify-between pt-10 pb-4 px-4 sm:px-6 [ mini-cart__bg ]">
          <h2 class="text-sm heading" id="slide-over-title">
            {{ 'cart.general.title' | t }}
          </h2>
          <div class="ml-3 h-7 flex items-center">
            <drawer-trigger
              class="h-6 w-6 group"
              data-target="[data-mini-cart]"
              data-open-class="active"
              data-close-class=""
            >
              <button class="-m-2 p-2 cursor-pointer rotate-180 group-[.active]:rotate-0 transition-transform ease-in duration-200 delay-500">
                <span class="sr-only">Close panel</span>
                {%- render 'icon-arrow-right' -%}
              </button>
            </drawer-trigger>
          </div>
        </div>
        {%- if section.settings.show_countdown -%}{% render 'cart-countdown' %}{%- endif -%}
        {% render 'discount-code-notice' %}
        <!-- Mini Cart Prices -->
        <div class="[ px-4 sm:px-6 ]">
          <div class="pb-4 flex justify-between">
            <p class="text-secondary">{{ cart.item_count }} items</p>
            <p class="text-secondary">{{ cart.items_subtotal_price | money_with_currency }}</p>
          </div>
          <div class="[ flex justify-between items-end text-base border-b border-[#ccc8c4] pb-12 ]">
            <p class="text-sm heading">{{ 'cart.general.subtotal' | t }}</p>
            <p class="heading text-lg uppercase tracking-widest" id="cart-prices">
              {%- if cart.original_total_price > cart.total_price -%}
                <small>{{ cart.original_total_price | money_with_currency }}</small>
              {%- endif -%}
              {{ cart.total_price | money_with_currency }}
            </p>
          </div>
        </div>
        <div class="mt-11 px-4 sm:px-6">
          {%- render 'mini-cart-items' -%}
        </div>

        <div class="py-6 px-4 sm:px-6">
          {% comment %} <p class="mt-1 text-xs">{{ 'cart.general.shipping_at_checkout' | t }}</p> {% endcomment %}
          <div class="mt-6">
            <a href="/checkout" class="btn checkout-button flex justify-center items-center px-6 py-3">
              {{- 'cart.general.checkout' | t -}}
            </a>
            {%- comment -%}
              {%- if additional_checkout_buttons -%}
                <div class="additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {%- endif -%}
            {%- endcomment -%}
          </div>
          <!--
            <div class="mt-6 flex justify-center text-sm text-center">{{ 'cart.general.continue_browsing_html' | t }}<span aria-hidden="true"> &rarr;</span></div>
          -->
        </div>

        <!-- mini cart data recommendations -->
        {%- if the_collection == blank -%}
          {%- assign the_collection = collections.all -%}
        {%- else -%}
          {%- assign the_collection = collections[the_collection] -%}
        {%- endif -%}
        <div class="[ container mx-auto pt-6 pb-2 px-4 sm:px-6 ]">
          <div class="[ flex flex-wrap overflow-hidden ]">
            <div class="[ w-full mb-5 overflow-hidden ]">
              <h2 class="[ text-sm md:text-base text-left ]">{{ 'cart.mini_cart.upsell_title' | t }}</h2>
            </div>
          </div>
          <div class="[ flex flex-no-wrap flex-row overflow-y-hidden overflow-x-auto ] scroll-bar">
            {%- for product in the_collection.products limit: 8 -%}
              <div class="[ p-4 ml-4 mb-2 lg:mb-5 overflow-hidden flex-shrink-0 w-1/2 ]">
                {%- render 'product-grid-item' with product: product -%}
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%- if settings.development_mode -%}
  <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- else -%}
  <script src="{{ 'cart.min.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
