<style>
  :root {
    --drawer-filters-bg: #fffaf3;
  }

  [data-subscribe] {
    background-color: var(--drawer-filters-bg);
  }
</style>

<div
  data-subscribe
  class="block w-full transition-transform fixed left-0 top-0 bg-brand-four h-100v -translate-x-full z-50 ease-in duration-500 aria-[hidden=false]:translate-x-0 max-w-md"
  aria-labelledby="slide-over-title"
  role="dialog"
  aria-modal="true"
  aria-hidden="true"
>
  <div class="flex flex-col min-h-full h-full overflow-y-auto max-h-100v">
    <div class="flex flex-col flex-grow overflow-y-auto">
      <div class="pt-6 px-4 sm:px-6 h-full overflow-y-auto">
        <div class="flex items-start justify-between">
          <h2 class="text-sm heading">
            {{ 'drawers.subscribe.heading' | t }}
          </h2>
          <div class="ml-3 h-7 flex items-center">
            <drawer-trigger
              class="h-6 w-6 group"
              data-target="[data-subscribe]"
            >
              <button class="-m-2 p-2 cursor-pointer rotate-180 group-[.active]:rotate-0 transition-transform ease-in duration-200 delay-500">
                <span class="sr-only">Close panel</span>
                {%- render 'icon-arrow-left' -%}
              </button>
            </drawer-trigger>
          </div>
        </div>

        <div class="mt-12">
          {%- if form.posted_successfully? -%}
            <h3>{{ 'layout.newsletter.successful_heading' | t }}</h3>
            <p>{{ 'layout.newsletter.successful_content' | t }}</p>
          {%- endif -%}
          {%- if settings.action_url != '' -%}
            <form
              action="{{ settings.action_url }}"
              class="[ flex flex-row border ] form form--newsletter"
              method="post"
              id="mc-embedded-subscribe-form"
              name="mc-embedded-subscribe-form"
              class="validate"
              novalidate
            >
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
                <div class="form__thanks success">{{ 'layout.newsletter.successful_content' | t }}</div>
              {% else %}
                {% comment %} <input type="hidden" name="contact[tags]" value="prospect, password page"> {% endcomment %}
                <input
                  class="[ w-full flex-grow appearance-none bg-white px-4 py-3 pr-8 leading-tight focus:outline-none focus:shadow-outline border-none ] form__input"
                  type="email"
                  name="EMAIL"
                  id="mce-EMAIL"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off"
                  placeholder="{{ 'layout.newsletter.email_placeholder' | t }}"
                >
                <input type="hidden" name="contact[tags]" value="newsletter">
                <button
                  type="submit"
                  name="commit"
                  class="[ appearance-none bg-white px-4 py-3 pr-8 leading-tight focus:outline-none focus:shadow-outline border-none ] form__btn"
                >
                  <span class="visually-hidden">{{ 'layout.newsletter.subscribe' | t }}</span>
                  {%- render 'icon-chevron-right' -%}
                </button>
              {% endif %}
            </form>
          {%- else -%}
            {% form 'customer', class: 'form form--newsletter' %}
              {%- if form.errors.length > 0 -%}
                {%- capture error_messages -%}{{ form.errors | default_errors }}{%- endcapture -%}
                {% render 'alert-error' with error: error_messages %}
              {%- endif -%}
              {% if form.posted_successfully? %}
                {%- capture success_message -%}{{ 'layout.newsletter.successful_post' | t }}{%- endcapture -%}
                {% render 'alert-success' with message: success_message %}
                <div class="form__success success"></div>
              {% else %}
                <div class="[  ]">
                  <input type="hidden" name="contact[tags]" value="prospect, password page">
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <input
                    class="[ w-full border-b border-solid border-color appearance-none bg-transparent px-4 py-2 pr-8 leading-tight focus:outline-none focus:shadow-outline ] form__input"
                    type="email"
                    name="contact[email]"
                    id="Email"
                    spellcheck="false"
                    autocomplete="off"
                    autocapitalize="off"
                    placeholder="{{ 'drawers.subscribe.placeholder' | t }}"
                  >
                  {% comment %} <input type="hidden" name="contact[tags]" value="newsletter"> {% endcomment %}
                  <button
                    type="submit"
                    name="commit"
                    class="mt-2 inline-block w-full focus:shadow-outline focus:outline-none mx-1 py-1 px-4 leading-tight font-bold ] btn primary-button"
                  >
                    <span>{{ 'drawers.subscribe.submit_button' | t }}</span>
                  </button>
                </div>
              {% endif %}
            {% endform %}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>
