<style>
  :root {
    --drawer-filters-bg: #fffaf3;
  }

  [data-filters-drawer] {
    background-color: var(--drawer-filters-bg);
  }
</style>

<div
  data-filters-drawer
  class="w-full transition-transform fixed right-0 top-0 bg-brand-four h-100v translate-x-full z-50 ease-in duration-500 [&.active]:translate-x-0 max-w-md"
  aria-labelledby="slide-over-title"
  role="dialog"
  aria-modal="true"
>
  <div class="flex flex-col min-h-full h-full overflow-y-auto max-h-100v">
    <div class="flex flex-col flex-grow overflow-y-auto">
      <div class="pt-6 px-4 sm:px-6 h-full overflow-y-auto">
        <div class="flex items-start justify-between">
          <h2 class="text-sm heading">
            {{ 'collections.filter.filter_button' | t }}
          </h2>
          <div class="ml-3 h-7 flex items-center">
            <drawer-trigger
              class="ml-auto"
              data-target="[data-filters-drawer]"
              data-open-class="active"
              data-close-class=""
            >
              <button type="button" class="-m-2 p-2 rounded-md inline-flex items-center justify-center">
                <span class="sr-only">Close menu</span>
                {% render 'icon-close' %}
              </button>
            </drawer-trigger>
          </div>
        </div>

        <div class="mt-4">
          <div>
            {% comment %}
              <div class="relative inline-block">
                <select
                  data-sorting
                  id="sorting"
                  name="sorting"
                  autocomplete="sorting"
                  class="[ m-1 w-1/2 md:w-auto block bg-white border border-color p-2 lg:px-4 lg:py-3 pr-8 leading-tight focus:outline-none focus:shadow-outline box-content ml-auto min-w-min appearance-none rounded-none ]"
                >
                  <option selected disabled value="default">{{ 'collections.general.sort_by' | t }}</option>
                  {%- for option in collection.sort_options -%}
                    <option
                      value="{{ option.value }}"
                      {% if option.value == collection.sort_by %}
                        selected
                      {% endif %}
                    >
                      {{ option.name }}
                    </option>
                  {%- endfor -%}
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 px-2 flex items-center">
                  {% render 'icon-chevron-down', classes: 'h-4 w-4' %}
                </div>
              </div>
            {% endcomment %}
          </div>
          {%- assign total_active_values = 0 -%}
          <collection-filters-form class="facets small-hide">
            <form id="CollectionFiltersForm" class="facets__form">
              <input class="hidden" type="text" id="sort_by" name="sort_by" value="{{ collection.sort_by }}">
              <div class="facets__wrapper ">
                <div class="w-full">
                  {%- for filter in collection.filters -%}
                    {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
                    {% case filter.type %}
                      {% when 'list' %}
                        <div
                          x-data="{ open: false }"
                          class="py-4 disclosure-has-popup facets__disclosure js-filter"
                          data-index="{{ forloop.index }}"
                        >
                          <div @click="open = ! open" class="facets__summary">
                            <div class="flex items-center cursor-pointer">
                              <p class="heading">{{ filter.label | escape }}</p>
                              <span class="count-bubble ml-1.5 rounded-full py-0.5 px-1.5 border border-color text-xs tabular-nums">
                                {%- if filter.active_values.size > 0 -%}
                                  {{ filter.active_values.size }}
                                {%- else -%}
                                  0
                                {%- endif -%}
                              </span>
                              <span class="ml-auto" x-show="!open">
                                {%- render 'icon-chevron-right', width: '15', height: '15' -%}
                              </span>
                              <span class="ml-auto" x-show="open">
                                {%- render 'icon-chevron-down', width: '15', height: '15' -%}
                              </span>
                            </div>
                          </div>
                          <div x-show="open" class="facets__display">
                            <div class="facets__header">
                              <a
                                href="{{ filter.url_to_remove }}"
                                class="facets__reset js-facet-remove [ underline text-xs pb-4 pt-1 font-bold inline-block ]"
                              >
                                {{- 'collections.filter.reset' | t -}}
                              </a>
                            </div>

                            <ul class="facets__list list-unstyled" role="list">
                              {%- for value in filter.values -%}
                                <li class="list-menu__item facets__item pb-2">
                                  <div class="flex items-center text-base sm:text-sm">
                                    <input
                                      type="checkbox"
                                      name="{{ value.param_name }}"
                                      value="{{ value.value }}"
                                      id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                      {% if value.active %}
                                        checked
                                      {% endif %}
                                      {% if value.count == 0 and value.active == false %}
                                        disabled
                                      {% endif %}
                                      class="flex-shrink-0 h-4 w-4 border border-color bg-transparent rounded-none appearance-none text-indigo-600 focus:ring-indigo-500"
                                    >
                                    <label
                                      for="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                      class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %} [ ml-3 min-w-0 flex-1 text-xs ]"
                                    >
                                      {{ value.label | escape }} ({{ value.count }})
                                    </label>
                                  </div>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                        </div>
                      {% when 'price_range' %}
                        {% liquid
                          assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
                          assign uses_comma_decimals = false
                          if currencies_using_comma_decimals contains cart.currency.iso_code
                            assign uses_comma_decimals = true
                          endif
                        %}
                        <div
                          x-data="{ open: false }"
                          class="py-4 border-b border-solid border-color disclosure-has-popup facets__disclosure js-filter"
                          data-index="{{ forloop.index }}"
                        >
                          <div @click="open = ! open" class="facets__summary">
                            <div class="flex items-center cursor-pointer">
                              <span>{{ filter.label | escape }}</span>
                              <span
                                class="count-bubble{%- if filter.min_value.value or filter.max_value.value -%}{{ filter.active_values.size }} count-bubble--dot{% endif %}"
                              ></span>
                              <span class="ml-auto" x-show="!open">
                                {%- render 'icon-chevron-right' with width: '15', height: '15' -%}
                              </span>
                              <span class="ml-auto" x-show="open">
                                {%- render 'icon-chevron-down' with width: '15', height: '15' -%}
                              </span>
                            </div>
                          </div>
                          <div x-show="open" class="facets__display">
                            <div class="facets__header">
                              {%- assign max_price_amount = filter.range_max | money | escape -%}
                              <span class="facets__selected py-2 text-sm">
                                {{- 'collections.filter.max_price' | t: price: max_price_amount -}}
                              </span>
                              <a
                                href="{{ filter.url_to_remove }}"
                                class="facets__reset js-facet-remove [ underline text-xs pb-4 pt-1 font-bold inline-block ]"
                              >
                                {{- 'collections.filter.reset' | t -}}
                              </a>
                            </div>
                            <price-range class="facets__price">
                              <div class="flex-inline" x-data="{ min_value: 0 }">
                                <label class="field__label" for="Filter-{{ filter.label | escape }}-GTE">
                                  {{- 'collections.filter.from' | t -}}
                                </label>
                                <span class="field__currency">{{ cart.currency.symbol }}</span>
                                <span class="" x-html="min_value"></span><br>
                                <input
                                  class="field__input"
                                  name="{{ filter.min_value.param_name }}"
                                  id="Filter-{{ filter.label | escape }}-GTE"
                                  {%- if filter.min_value.value -%}
                                    {%- if uses_comma_decimals -%}
                                      value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                    {%- else -%}
                                      value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                    {% endif %}
                                  {%- endif -%}
                                  type="range"
                                  x-model="min_value"
                                  placeholder="0"
                                  min="0"
                                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                >
                              </div>
                              <div
                                class="flex-inline"
                                x-data="{ max_value: {{ filter.range_max | money_without_currency }} }"
                              >
                                <label class="field__label" for="Filter-{{ filter.label | escape }}-LTE">
                                  {{- 'collections.filter.to' | t -}}
                                </label>
                                <span class="field__currency">{{ cart.currency.symbol }}</span>
                                <span class="" x-html="max_value"></span><br>
                                <input
                                  class="field__input"
                                  name="{{ filter.max_value.param_name }}"
                                  id="Filter-{{ filter.label | escape }}-LTE"
                                  {%- if filter.max_value.value -%}
                                    {%- if uses_comma_decimals -%}
                                      value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                    {%- else -%}
                                      value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                    {% endif %}
                                  {%- endif -%}
                                  type="range"
                                  x-model="max_value"
                                  placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                  min="0"
                                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                >
                              </div>
                            </price-range>
                          </div>
                        </div>
                    {% endcase %}
                  {%- endfor -%}
                </div>
                <noscript>
                  <button
                    type="submit"
                    class="facets__button [ underline text-base pb-1 pt-4 font-bold inline-block ]"
                  >
                    filter
                  </button>
                </noscript>
              </div>

              <div class="active-facets active-facets-desktop mt-4">
                <a href="{{ collection.url }}?sort_by={{ sort_by }}" class="active-facets__button js-facet-remove">
                  <span class="active-facets__button-inner [ underline text-base pb-1 pt-4 font-bold inline-block mb-4 ]">
                    {{- 'collections.filter.clear_all' | t -}}
                  </span>
                </a>
                {%- for filter in collection.filters -%}
                  {%- for value in filter.active_values -%}
                    <a
                      class="active-facets__button active-facets__button--light js-facet-remove [ m-1 inline-flex rounded-full border border-color items-center py-1.5 pl-3 pr-2 text-sm font-medium bg-white border-solid ]"
                      href="{{ value.url_to_remove }}"
                    >
                      <span class="active-facets__button-inner flex items-center">
                        {{ value.label | escape }}
                        <span class="pl-2">
                          <svg class="h-2 w-2" stroke="currentColor" fill="none" viewBox="0 0 8 8">
                            <path stroke-linecap="round" stroke-width="1" d="M1 1l6 6m0-6L1 7" />
                          </svg>
                        </span>
                      </span>
                    </a>
                  {%- endfor -%}
                  {% if filter.type == 'price_range' %}
                    {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                      <a
                        class="active-facets__button active-facets__button--light js-facet-remove [ m-1 inline-flex rounded-full border border-color items-center py-1.5 pl-3 pr-2 text-sm font-medium bg-white border-solid ]"
                        href="{{ filter.url_to_remove }}"
                      >
                        <span class="active-facets__button-inner flex items-center">
                          {%- if filter.min_value.value -%}
                            {{ filter.min_value.value | money }}
                          {%- else -%}
                            {{ 0 | money }}
                          {%- endif -%}
                          -
                          {%- if filter.max_value.value -%}
                            {{ filter.max_value.value | money }}
                          {%- else -%}
                            {{ filter.range_max | money }}
                          {%- endif -%}
                          <span class="pl-2">
                            <svg class="h-2 w-2" stroke="currentColor" fill="none" viewBox="0 0 8 8">
                              <path stroke-linecap="round" stroke-width="1" d="M1 1l6 6m0-6L1 7" />
                            </svg>
                          </span>
                        </span>
                      </a>
                    {%- endif -%}
                  {% endif %}
                {%- endfor -%}
              </div>

              {% if collection.current_vendor or collection.current_type %}
                <input type="hidden" name="q" value="{{ collection.current_vendor }}{{ collection.current_type }}">
              {% endif %}
            </form>
          </collection-filters-form>
        </div>
      </div>
    </div>
  </div>
</div>
