{% form 'product', product, data-product-form: '', data-product-handle: product.handle %}
  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
  {%- if product.selling_plan_groups.size > 0 -%}
    <input type="hidden" name="selling_plan" value="{{ offer.selected_selling_plan.id }}">
  {%- endif -%}
  <div class="product-form-cta" id="addToCart{{ product.id }}">
    <div class="flex flex-wrap items-end -mx-3 mt-3">
      {%- if block.settings.show_quantity_Selector -%}
        <div class="px-3 flex-none">
          <label
            class="block text-xs mb-2 heading {% unless block.settings.show_qty_label %}sr-only{% endunless %}"
            for="quantity"
          >
            {{- 'products.product.quantity' | t -}}
          </label>
          <div class="inline-block relative w-full selector-wrapper js">
            <select
              class="[ block bg-transparent appearance-none w-full border border-color px-4 py-3 pr-8 focus:outline-none focus:shadow-outline text-xs ] select"
              id="Quantity"
              name="quantity"
              form="product_form_{{ product.id }}"
            >
              {%- for i in (1..5) -%}
                <option value="{{ i }}">{{ i }}</option>
              {%- endfor -%}
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
              </svg>
            </div>
          </div>
        </div>
      {%- else -%}
        <input type="hidden" id="Quantity" name="quantity" value="1">
      {%- endif -%}

      <div class="px-3 flex-grow">
        {%- unless size_guide == blank -%}
          <p
            x-data
            @click="$dispatch('size-guide-trigger')"
            class="[ cursor-pointer heading block tracking-wide text-gray-700 text-xs mb-2 text-right ]"
          >
            {{ 'products.product.size_guide' | t }}
          </p>
        {%- endunless -%}
        <button
          class="[ w-full focus:shadow-outline focus:outline-none py-3 px-4 disabled:opacity-50 overflow-hidden group text-xs leading-tight ] heading btn add-to-cart-button"
          type="submit"
          name="add"
          data-add-to-cart
          {% unless current_variant.available %}
            disabled="disabled"
          {% endunless %}
        >
          <span class="loading mx-auto items-center w-full justify-center leading-tight">
            <svg
              height="14"
              focusable="false"
              role="presentation"
              class="spinner [ mx-auto ]"
              viewBox="0 0 66 66"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </span>
          <span class="[ group-disabled:hidden inline-block transition-transform group-hover:translate-x-9 leading-tight ]">
            {% render 'icon-bag', classes: 'align-middle inline-block mr-1' %}
            {{ 'products.product.add_to_cart' | t }}
          </span>
          <span class="[ hidden group-disabled:inline-block transition-transform group-hover:translate-x-52 leading-tight ]">
            {{ 'products.product.sold_out' | t }}
          </span>
          <span
            id="productPrice{{ product.id }}"
            class="product-price [ transition-transform group-hover:translate-x-52 inline-block ml-5 leading-tight ]"
          >
            <span data-price-wrapper>
              <span data-product-price> {{ offer.price | money }}</span>
              <span
                {% unless offer.compare_at_price_max > offer.price %}
                  style="display: none;"
                {% endunless %}
                class="visually-hidden"
                data-compare-text
              >
                {{- 'products.product.regular_price' | t -}}
              </span>
              <s class="[ text-red-600 ]" data-product-compare-price>
                {% if offer.compare_at_price > offer.price %}
                  {{ offer.compare_at_price | money }}
                {% endif %}
              </s>
            </span>
          </span>
        </button>
      </div>
    </div>

    {%- if block.settings.show_additional_checkout_buttons -%}
      {%- if additional_checkout_buttons -%}
        <div class="additional-checkout-buttons mt-3">
          {{ content_for_additional_checkout_buttons }}
        </div>
      {%- endif -%}
    {%- endif -%}
  </div>
{%- endform -%}
