<style>
  #headerMobile {
    background-color: var(--header-background-color);
  }
</style>

<header id="headerMobile" class="lg:hidden relative z-50">
  <nav aria-label="Top" class="mx-auto p-4 sm:px-6">
    <div class="">
      <div class="flex items-center">
        <!-- Mobile menu toggle, controls the 'mobileMenuOpen' state. -->
        <div class="flex flex-1 justify-start">
          <div class="ml-1">
            {%- assign logo = section.settings.logo -%}
            {%- if settings.enable_overlay and template.name == 'index' -%}
              {%- assign logo = settings.overlay_logo -%}
            {%- endif -%}
            {%- if logo != blank -%}
              <a
                href="/"
                itemprop="url"
                class="[ block ]"
                style="max-width: {{ section.settings.logo_max_width_desktop }}px;"
              >
                <img
                  class="header-logo"
                  loading="lazy"
                  src="{{ logo | image_url: width: 460 }}"
                  width="{{ logo.width }}"
                  height="{{ logo.height }}"
                  srcset="
                    {%- if logo.width >= 165 -%}{{ logo | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if logo.width >= 360 -%}{{ logo | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if logo.width >= 535 -%}{{ logo | image_url: width: 535 }} 535w,{%- endif -%}
                    {%- if logo.width >= 720 -%}{{ logo | image_url: width: 720 }} 720w{%- endif -%}
                  "
                  alt="{{ logo.alt | default: shop.name }}"
                  itemprop="logo"
                >
              </a>
            {%- else -%}
              <a href="/" itemprop="url" class="heading text-lg header-font-color [ block ] ">
                {{ shop.name }}
              </a>
            {%- endif -%}
          </div>
        </div>

        <div class="flex flex-1 flex-shrink justify-end">
          <!-- lightning menu -->
          {%- if section.settings.show_lightning_nav -%}
            <lightning-toggle class="lightning-toggle px-1 py-2">
              <span x-cloak class="lightning-toggle__active">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24"
                  width="24"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M13 10V3L4 14h7v7l9-11h-7z" />
                </svg>
              </span>
              <span x-cloak class="lightning-toggle__disabled">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z" clip-rule="evenodd" />
                </svg>
              </span>
            </lightning-toggle>
          {%- endif -%}

          <!-- customer links -->
          {%- if shop.customer_accounts_enabled -%}
            <div class="ml-3 h-8 items-center">
              {%- if section.settings.account_type == 'links' -%}
                <a
                  href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}"
                  class="text-xs header-font-color heading"
                >
                  {% if customer -%}
                    {{- 'layout.customer.account' | t -}}
                  {%- else -%}
                    {{- 'layout.customer.log_in' | t -}}
                  {%- endif -%}
                </a>
                {%- unless customer -%}
                  <span class="h-2 inline-block w-px mx-2 bg-gray-200" aria-hidden="true"></span>
                  <a href="{{ routes.account_register_url }}" class="text-xs px-1 py-2  header-font-color heading">
                    {{- 'layout.customer.create_account' | t -}}
                  </a>
                {%- endunless -%}
              {%- else -%}
                <a
                  href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}"
                  class="[ px-1 py-2 block text-xs ] header-font-color heading"
                >
                  {%- render 'icon-account' -%}
                </a>
              {%- endif -%}
            </div>
          {%- endif -%}

          <!-- Search -->
          <div class="flex ml-3 h-8 items-center">
            <drawer-trigger
              data-target="[data-search-drawer]"
              data-open-class="active"
              data-close-class=""
            >
              <span class="px-1 py-2 block cursor-pointer">
                <span class="sr-only">Search</span>
                <span data-open-icon class="header-font-color">
                  {% render 'icon-search' %}
                </span>
                <span data-close-icon class="hidden header-font-color">
                  {% render 'icon-close' %}
                </span>
              </span>
            </drawer-trigger>
          </div>

          <!-- Cart -->
          <div class="flex ml-3 h-8 items-center">
            <drawer-trigger
              class="relative"
              data-target="[data-mini-cart]"
              data-open-class="active"
              data-close-class=""
            >
              <a href="/cart" class="group pl-1 pr-3 py-2 block items-center relative">
                <span class="flex header-font-color">
                  <!-- Heroicon name: outline/shopping-bag -->
                  {%- render 'icon-bag' -%}
                  <span
                    data-cart-count
                    class="bg-black rounded-full h-[14px] w-[14px] text-center leading-[14px] text-white text-[8px] absolute -right-1 top-0"
                  >
                    {{- cart.item_count -}}
                  </span>
                  <span class="sr-only">items in cart, view bag</span>
                </span>
              </a>
            </drawer-trigger>
          </div>

          <!-- Mobile Menu -->
          <div class="flex ml-3 h-8 items-center">
            <drawer-trigger
              class="group"
              data-target="[data-menu-drawer]"
              data-open-class="active"
              data-close-class=""
            >
              <button type="button" class="px-1 py-2 flex rounded-md justify-center items-center header-font-color">
                <span class="sr-only">Open menu</span>
                <span class="mr-3">{{ 'layout.header.menu' | t }}</span>
                <div>
                  <span
                    class="[ block w-4 h-[1px] mb-1 transition-transform ease-in duration-300 group-[.active]:rotate-45 group-[.active]:translate-y-[2px] ] menu__bars"
                  ></span>
                  <span
                    class="[ block w-4 h-[1px] transition-transform ease-in duration-300 group-[.active]:-rotate-45 group-[.active]:translate-y-[-3px] ] menu__bars"
                  ></span>
                </div>
              </button>
            </drawer-trigger>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
