{%- assign featured_image = product.featured_image -%}
<div class="group relative">
  <div class="relative">
    {%- render 'product-grid-item-sticker' with product: product -%}
    <div class="w-full overflow-hidden">
      <a class="block overflow-hidden" href="{{ product.url | within: collection }}">
        {%- if product.images.size > 1 -%}
          {%- render 'responsive-image' with image: featured_image -%}
          {%- render 'responsive-image' with image: product.images[1], image_class: "hidden md:group-hover:block md:transform z-10 md:translate-x-full md:group-hover:translate-x-0 md:absolute md:top-0 md:left-0" -%}
        {%- else -%}
          {%- render 'responsive-image' with image: featured_image -%}
        {%- endif -%}
      </a>
    </div>
    {%- assign variant_type = 'select' -%}
    {%- if settings.pgi_use_swatches -%}{%- assign variant_type = 'swatches' -%}{%- endif -%}
    {%- if settings.show_quick_view -%}
      {%- render 'quick-add' with product: product, variant_type: variant_type -%}
    {%- endif -%}
  </div>

  <div class="mt-4 flex justify-between">
    <p class="text-xs leading-snug">
      <a class="leading-snug" href="{{ product.url }}">{{ product.title }}</a>
    </p>
    {%- if settings.show_quick_view -%}
      <quick-add-trigger
        data-target="quickAdd-{{ section.id }}-{{ product.id }}"
        class="ml-4 border text-center p-1 leading-5 w-5 h-5 border-gray-200 cursor-pointer block bg-white rounded-full"
      >
        {%- render 'icon-plus' with height: 10, width: 10, classes: 'pointer-events-none cursor-pointer' -%}
      </quick-add-trigger>
    {%- endif -%}
  </div>
  <div class="mt-1 flex justify-between">
    <div>
      {%- if settings.wholesale_enabled -%}
        {%- assign is_approved = false -%}
        {%- if customer -%}
          {%- for tag in customer.tags -%}
            {%- if tag == settings.wholesale_tag -%}
              {%- assign is_approved = true -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
        {%- if customer -%}
          {%- if is_approved -%}
            <p class="text-xs leading-snug">
              {%- if product.compare_at_price > product.price -%}
                {%- assign sale_price = product.price | money -%}
                {%- assign original_price = product.compare_at_price | money -%}
                {%- if product.price_varies -%}
                  {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                {%- else -%}
                  <span class="text-red-700">{{ product.price | money }}</span>
                  <small
                    ><s>{{ original_price }}</s></small
                  >
                {%- endif -%}
              {%- else -%}
                {%- if product.price_varies -%}
                  {%- assign price = product.price | money -%}
                  {{ 'products.product.from_text_html' | t: price: price }}
                {%- else -%}
                  <span>{{ product.price | money }}</span>
                {%- endif -%}
              {%- endif -%}
              -
            </p>
          {%- else -%}
            <p class="text-xs text-red-700 leading-snug">{{ 'wholesale.approval_needed' | t }}</p>
          {%- endif -%}
        {%- else -%}
          <p class="text-xs text-red-700 leading-snug">{{ 'wholesale.log_in_notice' | t }}</p>
        {%- endif -%}
      {%- else -%}
        <p class="text-xs">
          {%- if product.compare_at_price > product.price -%}
            {%- assign sale_price = product.price | money -%}
            {%- assign original_price = product.compare_at_price | money -%}
            {%- if product.price_varies -%}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {%- else -%}
              <span class="text-red-700">{{ product.price | money }}</span>
              <small
                ><s>{{ original_price }}</s></small
              >
            {%- endif -%}
          {%- else -%}
            {%- if product.price_varies -%}
              {%- assign price = product.price | money -%}
              {{ 'products.product.from_text_html' | t: price: price }}
            {%- else -%}
              <span>{{ product.price | money }}</span>
            {%- endif -%}
          {%- endif %}
        </p>
      {%- endif -%}
    </div>
  </div>
  {%- if product.metafields.color.variants.value -%}
    <div class="mt-2">
      <ul class="flex">
        {%- unless product.metafields.color.swatch == blank -%}
          <li class="px-1">
            <a class="block" href="{{ product.url }}">
              <span class="h-4 w-4 block border border-black p-px rounded-full m- ">
                <span
                  class="h-3 w-3 block rounded-full"
                  style="background-color: {{ product.metafields.color.swatch }}"
                ></span>
              </span>
            </a>
          </li>
        {%- endunless -%}
        {%- for product in product.metafields.color.variants.value -%}
          <li class="px-1">
            <a class="block" href="{{ product.url }}">
              <span class="h-4 w-4 block border border-black p-px rounded-full m- ">
                <span
                  class="h-3 w-3 block rounded-full"
                  style="background-color: {{ product.metafields.color.swatch }}"
                ></span>
              </span>
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
</div>
