{%- liquid
assign promo_url = block.settings.promo_url
assign background_transparency = block.settings.background_transparency
assign background_color = block.settings.background_color
assign font_color = block.settings.font_color
assign content_focus_y = block.settings.content_focus_y
assign content_focus_x = block.settings.content_focus_x
assign show_description = block.settings.show_description
assign heading = block.settings.heading
assign sub_heading = block.settings.sub_heading
assign description = block.settings.content
assign promo_image = block.settings.promo_image
assign cta_style = block.settings.cta_style
assign cta_text = block.settings.cta_text
assign show_cta = block.settings.show_cta -%}

<div class="relative">
{% comment %} <a href="{% if collection == empty %}#{% else %}{{ collection.url }}{% endif %}"> {% endcomment %}
    <a href="{{ promo_url }}" class="block h-full w-full">
        <div class="block h-full w-full">
            {%- if promo_image -%}
                {% render 'responsive-image' with image: promo_image, image_class: 'd-block w-full' %}
            {%- else -%}
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
            {%- endif -%}
        </div>

        <div class="[ flex absolute p-4 inset-0 opacity-1 transition duration-500 ease-in-out ]" style="background-color: {{ background_color | color_modify: 'alpha', background_transparency }};">

            <div class="[ flex flex-col {{ content_focus_y }} {{ content_focus_x }} h-full w-full ]">
                {%- unless sub_heading == blank -%}
                <h6 class="[ text-xs mb-1 leading-relaxed ]" style="color: {{ font_color }};">{{ sub_heading }}</h6>
                {%- endunless -%}
                
                {%- unless heading == blank -%}
                <h4 class="[ mb-4 text-base lg:text-xl leading-relaxed ]" style="color: {{ font_color }};">{{ heading }}</h4>
                {%- endunless -%}
                
                {%- unless description == blank or show_description == false -%}
                <p class="[ leading-6 mb-4 ]" style="color: {{ font_color }};">{{ description }}</p>
                {%- endunless -%}

                {%- if show_cta -%}
                <button class="[ inline-block focus:shadow-outline focus:outline-none font-bold py-3 px-4 leading-tight ] {{ cta_style }}">{{ cta_text }}</button>
                {%- endif -%}
            </div>
        </div>
    </a>
</div>