{%- capture form_id -%}form-{{ section.id }}-{{ product.id }}{% endcapture %}
{%- assign variant__type = variant_type -%}
{%- if variant__type == blank -%}
  {%- assign variant__type = 'select' -%}
{%- endif -%}
<quick-add aria-hidden="true" class="" id="quickAdd-{{ section.id }}-{{ product.id }}">
  <div class="flex items-center justify-center fixed inset-0 z-[100] w-full bg-black/50">
    {%- liquid
      assign default_purchase_option = 'one_time'
      assign current_variant = product.selected_or_first_available_variant
      assign featured_image = current_variant.featured_image | default: product.featured_image
      assign current_selling_plan_allocation = product.selected_selling_plan_allocation
      if current_selling_plan_allocation == null and current_variant.selling_plan_allocations.size > 0
        assign current_selling_plan_allocation = current_variant.selling_plan_allocations | first
      endif
      assign offer = current_selling_plan_allocation | default: current_variant
      if default_purchase_option != 'subscription'
        assign offer = current_variant
      endif
    -%}
    <div class="flex flex-col bg-white mx-auto overflow-auto lg:overflow-hidden max-w-80v shadow-md lg:max-w-sm relative">
      <quick-add-trigger
        tabindex="0"
        data-target="quickAdd-{{ section.id }}-{{ product.id }}"
        class="block absolute p-2 cursor-pointer right-0 top-0"
      >
        {% render 'icon-close' with width: 20, height: 20 %}
      </quick-add-trigger>
      <div class="flex items-center">
        <img
          srcset="
            {%- if featured_image.width >= 165 -%}{{ featured_image | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if featured_image.width >= 360 -%}{{ featured_image | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if featured_image.width >= 535 -%}{{ featured_image | image_url: width: 535 }} 535w,{%- endif -%}
            {%- if featured_image.width >= 720 -%}{{ featured_image | image_url: width: 720 }} 720w,{%- endif -%}
            {%- if featured_image.width >= 940 -%}{{ featured_image | image_url: width: 940 }} 940w,{%- endif -%}
            {%- if featured_image.width >= 1080 -%}{{ featured_image | image_url: width: 1080 }} 1080w,{%- endif -%}
            {%- if featured_image.width >= 1240 -%}{{ featured_image | image_url: width: 1240 }} 1240w,{%- endif -%}
            {%- if featured_image.width >= 1480 -%}{{ featured_image | image_url: width: 1480 }} 1480w{%- endif -%}
          "
          src="{{ featured_image | image_url: width: 533 }}"
          sizes="(min-width: 1240px) 1480px, (min-width: 1080px) 1240px, (min-width: 940px) 1080px, (min-width: 720px) 940px, (min-width: 535px) 720px, 360px"
          alt="{{ featured_image.alt | escape }}"
          loading="lazy"
          width="{{ featured_image.width }}"
          height="{{ featured_image.height }}"
          class="block w-full"
        >
      </div>
      <div class="py-4 px-4">
        <product-form class="block relative z-70">
          <h2 class="text-base">{{ product.title | escape }}</h2>
          <p class="mb-4 text-sm text-gray-500">
            <span id="productPrice{{ product.id }}" class="product-price">
              <span class="text-sm" data-price-wrapper>
                <span data-product-price>
                  {{ offer.price | money }}
                </span>
                <span
                  {% unless offer.compare_at_price_max > offer.price %}
                    style="display: none;"
                  {% endunless %}
                  class="visually-hidden"
                  data-compare-text
                >
                  {{ 'products.product.regular_price' | t }}
                </span>
                <s class="[ text-gray-600 text-sm ]" data-product-compare-price>
                  {%- if offer.compare_at_price > offer.price -%}
                    {{ offer.compare_at_price | money }}
                  {%- endif -%}
                </s>
              </span>
            </span>
          </p>

          <div class="variant-selectors" id="variantSelectors{{ product.id }}">
            {%- if variant__type == 'select' -%}
              <variant-selectors>
                <div class="variant-selectors mb-2" id="variantSelectors{{ product.id }}">
                  <div class="flex flex-wrap items-end -mx-3">
                    {%- for option in product.options_with_values -%}
                      <fieldset class="px-3 flex-grow {% if option.values.size <= 1 %}hidden{% endif %} {% if block.settings.use_swatches %}w-full{% else %}min-w-5/10{% endif %}">
                        <div class="inline-block relative w-full selector-wrapper js">
                          <select
                            class="block appearance-none w-full bg-white border border-color px-3 py-2 pr-8 leading-tight focus:outline-none focus:shadow-outline text-base"
                            id="Option{{ option.position }}"
                            name="options[{{ option.name | escape }}]"
                            form="product_form_{{ product.id }}"
                            data-option-selector
                          >
                            {% for value in option.values %}
                              <option
                                value="{{ value | escape }}"
                                {% if option.selected_value == value %}
                                  selected="selected"
                                {% endif %}
                              >
                                {{ value }}
                              </option>
                            {% endfor %}
                          </select>
                          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                            </svg>
                          </div>
                        </div>
                      </fieldset>
                    {%- endfor -%}
                  </div>
                </div>
                <script type="application/json">
                  {{ product.variants | json }}
                </script>
              </variant-selectors>
            {%- else -%}
              <variant-radios class="block">
                {%- unless product.has_only_default_variant -%}
                  <div>
                    {%- for option in product.options_with_values -%}
                      <fieldset class="mb-1 w-full {% if option.values.size <= 1 %}hidden{% endif %}">
                        <legend class="sr-only">{{ option.name }}</legend>
                        <div class="overflow-x-auto">
                          <div class="flex flex-wrap">
                            {%- for value in option.values -%}
                              <div class="h-auto flex-shrink-0">
                                <label
                                  for="Option-{{ section.id }}-{{ product.id }}-{{ value }}"
                                  class="block text-xs cursor-pointer focus:outline-none"
                                >
                                  <input
                                    id="Option-{{ section.id }}-{{ product.id }}-{{ value }}"
                                    type="radio"
                                    name="options[{{ option.name | escape }}]"
                                    value="{{ value }}"
                                    class="sr-only peer"
                                    aria-labelledby="{{ value | escape }}"
                                    form="{{ form_id }}"
                                    data-option-selector
                                    {% if option.values.size == 1 %}
                                      checked
                                    {% endif %}
                                  >
                                  <span class="block py-2 px-4 text-center hover:bg-slate-100 peer-checked:bg-slate-100">
                                    {{- value | escape -}}
                                  </span>
                                </label>
                              </div>
                            {%- endfor -%}
                          </div>
                        </div>
                      </fieldset>
                    {%- endfor -%}
                  </div>
                {%- endunless -%}
                <script type="application/json">
                  {{ product.variants | json }}
                </script>
              </variant-radios>
            {%- endif -%}

            {%- if product.selling_plan_groups.size > 0 -%}
              <selling-plan
                data-form="{{ form_id }}"
                data-product="{{ product | json }}"
                data-selling-plans
                class="block mt-3"
              >
                <legend class="sr-only">Purchase options</legend>
                {%- for group in product.selling_plan_groups -%}
                  <label class="block cursor-pointer">
                    <div class="flex">
                      <input
                        form="{{ form_id }}"
                        {% if default_purchase_option == 'subscription' %}
                          checked="checked"
                        {% endif %}
                        data-purchase-option-selector
                        value="subscription"
                        id="subscription-{{ product.id }}"
                        type="radio"
                        name="purchase_option"
                        class="peer mr-4"
                        aria-labelledby="Subscription"
                        aria-describedby="Subscription"
                        autocomplete="off"
                      >
                      <p class="pb-1 block peer subheading">{{ 'products.subscription.subscription' | t }}</p>
                    </div>

                    <div class="inline-block relative w-full selector-wrapper js">
                      <select
                        {% if default_purchase_option == 'one_time' %}
                          disabled
                        {% endif %}
                        class="block appearance-none w-full bg-white border border-color px-3 py-2 pr-8 leading-tight focus:outline-none focus:shadow-outline text-base"
                        data-single-plan-selector
                        data-group-id="{{ group.id }}"
                        name="selling_plan"
                        form="{{ form_id }}"
                      >
                        {%- for plan in group.selling_plans -%}
                          <option
                            value="{{ plan.id }}"
                            {% if product.selected_selling_plan.id == plan.id or forloop.last %}
                              selected="selected"
                            {% endif %}
                          >
                            {{ plan.name }} - Save {{ plan.price_adjustments[0].value }}%
                          </option>
                        {%- endfor -%}
                      </select>
                      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                        </svg>
                      </div>
                    </div>
                  </label>
                {%- endfor -%}

                <div class="bg-white rounded-md -space-y-px">
                  {%- unless product.requires_selling_plan -%}
                    <label class="block py-1 cursor-pointer">
                      <div class="flex">
                        <input
                          {% if default_purchase_option == 'one_time' %}
                            checked="checked"
                          {% endif %}
                          form="{{ form_id }}"
                          data-purchase-option-selector
                          value="one_time"
                          type="radio"
                          name="purchase_option"
                          id="oneTime-{{ product.id }}"
                          class="peer mr-4"
                          aria-labelledby="privacy-setting-0-label"
                          aria-describedby="privacy-setting-0-description"
                          autocomplete="off"
                        >
                        <p class="block subheading">{{ 'products.subscription.one_time' | t }}</p>
                      </div>
                    </label>
                  {%- endunless -%}
                </div>
              </selling-plan>
            {%- endif -%}
          </div>

          {%- form 'product', product, data-product-form: '', data-product-handle: product.handle, id: form_id -%}
            {%- if product.selling_plan_groups.size > 0 -%}
              <input
                {% if default_purchase_option == 'one_time' %}
                  disabled
                {% endif %}
                type="hidden"
                name="selling_plan"
                value="{{ offer.selected_selling_plan.id }}"
              >
            {%- endif -%}
            <select name="id" data-productid="{{ product.id }}" class="no-js hidden" data-product-select>
              {%- for variant in product.variants -%}
                <option
                  {% if variant == current_variant %}
                    selected="selected"
                  {% endif %}
                  {% unless variant.available %}
                    disabled="disabled"
                  {% endunless %}
                  value="{{ variant.id }}"
                >
                  {{ variant.title }}
                </option>
              {%- endfor -%}
            </select>

            <button
              class="[ w-full focus:shadow-outline focus:outline-none p-4 leading-tight disabled:opacity-50 ] uppercase btn add-to-cart-button text-center"
              type="submit"
              name="add"
              data-add-to-cart
              {%- unless current_variant.available -%}
                disabled="disabled"
              {%- endunless -%}
            >
              <span data-add-to-cart-text>
                {%- if current_variant.available -%}
                  {{ 'products.product.add_to_cart' | t }}
                {%- else -%}
                  {{ 'products.product.sold_out' | t }}
                {%- endif -%}
              </span>
            </button>
          {%- endform -%}
        </product-form>
      </div>
    </div>
  </div>
</quick-add>
