<div class="[ container mx-auto px-4 sm:px-6 lg:px-8 py-10 ] cls-fix">
  <header role="banner">
    <div class="">
      <div class="lg:flex lg:items-center lg:justify-between">
        <div class="flex flex-col">
          <h1 class="text-base">
            {{ 'customer.account.title' | t }}
          </h1>
          <div class="mt-4">
            <p class="text-xs underline">
              {{ 'Log out' | customer_logout_link }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="mx-auto flex flex-wrap">
    <div class="overflow-hidden lg:w-1/3 mb-4">
      <h3 class="text-xs mt-10">
        <strong>{{ 'customer.account.details_title' | t }}</strong>
      </h3>
      <div class="mt-4">
        <dl>
          {%- unless customer.name == blank -%}
            <div class="">
              <dt class="sr-only">Name</dt>
              <dd class="text-xs">
                {{ customer.first_name }}
              </dd>
            </div>
          {%- endunless -%}
          {%- unless customer.default_address.phone == blank -%}
            <div class="">
              <dt class="sr-only">Phone</dt>
              <dd class="text-xs">
                {{ customer.default_address.phone }}
              </dd>
            </div>
          {%- endunless -%}
          {%- unless customer.email == blank -%}
            <div class="">
              <dt class="sr-only">Email</dt>
              <dd class="text-xs">
                {{ customer.email }}
              </dd>
            </div>
          {%- endunless -%}
        </dl>
      </div>
      <h3 class="text-xs mt-10">
        <strong>{{ 'customer.account.shipping_title' | t }}</strong>
      </h3>
      <div class="mt-4">
        <dl>
          {%- unless customer.name == blank -%}
            <div class="">
              <dt class="sr-only">Name</dt>
              <dd class="text-xs">
                {{ customer.first_name }}
              </dd>
            </div>
          {%- endunless -%}
          {%- unless customer.default_address.phone == blank -%}
            <div class="">
              <dt class="sr-only">Phone</dt>
              <dd class="mb-4">
                {{ customer.default_address.phone }}
              </dd>
            </div>
          {%- endunless -%}
          {%- unless customer.default_address == blank -%}
            <div class="">
              <dt class="sr-only">Address</dt>
              <dd class="text-xs">
                {{ customer.default_address | format_address }}
              </dd>
            </div>
          {%- endunless -%}
        </dl>
        <div class="">
          <a class="text-xs underline" href="/account/addresses">
            {{- 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
          </a>
        </div>
      </div>
    </div>
    <div class="lg:w-2/3">
      {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}
          <div class="flex flex-col">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden border border-solid border-gray-300">
                  <table class="responsive-table w-full">
                    <thead>
                      <tr>
                        <th class="p-4 md:text-left">
                          <h6>{{ 'customer.orders.order_number' | t }}</h6>
                        </th>
                        <th class="p-4 md:text-left">
                          <h6>{{ 'customer.orders.date' | t }}</h6>
                        </th>
                        <th class="p-4 md:text-left">
                          <h6>{{ 'customer.orders.payment_status' | t }}</h6>
                        </th>
                        <th class="p-4 md:text-left">
                          <h6>{{ 'customer.orders.fulfillment_status' | t }}</h6>
                        </th>
                        <th class="p-4 md:text-right">
                          <h6>{{ 'customer.orders.total' | t }}</h6>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for order in customer.orders %}
                        <tr class="responsive-table-row">
                          <td data-label="{{ 'customer.orders.order_number' | t }}" class="border p-4">
                            <span class="underline">{{ order.name | link_to: order.customer_url }}</span>
                          </td>
                          <td data-label="{{ 'customer.orders.date' | t }}" class="border p-4">
                            {{ order.created_at | date: format: 'month_day_year' }}
                          </td>
                          <td data-label="{{ 'customer.orders.payment_status' | t }}" class="border p-4">
                            {{ order.financial_status_label }}
                          </td>
                          <td data-label="{{ 'customer.orders.fulfillment_status' | t }}" class="border p-4">
                            {{ order.fulfillment_status_label }}
                          </td>
                          <td data-label="{{ 'customer.orders.total' | t }}" class="border p-4 md:text-right">
                            {{ order.total_price | money }}
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="mb-4">
            <div>
              <h2 class="text-base pb-2">{{ 'customer.account.orders_title' | t }}</h2>
              <p class="text-xs">{{ 'customer.orders.none' | t }}</p>
            </div>
          </div>
        {% endif %}

        {% if paginate.pages > 1 %}
          {% render 'pagination' %}
        {% endif %}
      {% endpaginate %}
    </div>
  </div>
</div>
