{% style %}
  #rc_login h5 {
    font-size: 0.75rem;
  }

  #rc_login a {
    text-decoration: underline;
  }
{% endstyle %}
<section class="cls-fix">
  <div class="[ flex items-center justify-center py-20 md:py-40 px-4 sm:px-6 lg:px-8 ]">
    <div class="max-w-lg w-full p-4 lg:p-16">
      <!-- password reset success -->
      <div
        class="[ bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md ] form-success hidden"
        role="alert"
        id="ResetSuccess"
      >
        <div class="flex">
          <div class="py-1">
            <svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
            </svg>
          </div>
          <div>
            <p class="[ font-bold hover:underline ]">{{ 'customer.recover_password.success' | t }}</p>
            <p class="[ text-sm ]">{{ 'customer.recover_password.success' | t }}</p>
          </div>
        </div>
      </div>

      <div id="recover">
        {% form 'recover_customer_password' %}
          {% assign recover_success = form.posted_successfully? %}
          {%- if form.errors != blank -%}
            <div
              class="[ w-full mb-5 bg-red-100 text-red-900 px-4 py-3 ]"
              role="alert"
            >
              <div class="flex items-center">
                <div>
                  <svg
                    class="fill-current h-4 w-4 text-red-500 mr-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
                  </svg>
                </div>
                <p>{{ form.errors | default_errors }}</p>
              </div>
            </div>
          {%- endif -%}

          {%- if form.posted_successfully? -%}
            {%- assign success_message = customer.recover_password.success | t -%}
            <div class="mb-6">
              {%- render 'alert-success', message: success_message -%}
            </div>
          {%- endif -%}

          <div class="rounded-md shadow-sm">
            <div class="mb-4">
              <input
                id="customerEmail"
                class="appearance-none rounded-none relative block w-full py-3 px-4 border leading-tight border-color placeholder-gray-500  focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 {% if form.errors contains 'password' %}input-error{% endif %}"
                placeholder="{{ 'customer.login.email' | t }}"
                aria-label="{{ 'customer.login.email' | t }}"
                name="email"
                type="email"
                required
                spellcheck="false"
                autocomplete="off"
                autocapitalize="off"
                autofocus
              >
            </div>
          </div>

          <div class="mt-6">
            <button
              type="submit"
              class="[ group relative w-full focus:shadow-outline focus:outline-none font-bold py-3 px-4 border leading-tight ] btn primary-button"
            >
              <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                <svg class="h-5 w-5 transition ease-in-out duration-150" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                </svg>
              </span>
              {{ 'customer.reset_password.submit' | t }}
            </button>
          </div>
        {% endform %}
        <div class="mt-6 flex items-center justify-center">
          <div class="text-sm leading-5">
            <p class="block text-center focus:outline-none underline focus:underline transition ease-in-out duration-150 cursor-pointer">
              <a href="#login">{{ 'customer.login.title' | t }}</a>
            </p>
            <a
              href="/account/register"
              class="mt-2 block underline text-center focus:outline-none focus:underline transition ease-in-out duration-150"
            >
              {{ 'layout.customer.create_account' | t }}
            </a>
          </div>
        </div>
      </div>

      <div class="mb-4">
        <a
          href="/account/register"
          class="mt-2 block underline text-left focus:outline-none focus:underline transition ease-in-out duration-150"
        >
          {{ 'layout.customer.create_account' | t }}
        </a>
      </div>

      <div id="login">
        {%- liquid
          if recover_success
            assign reset_success = customer.recover_password.success | t
            render 'alert-success', message: reset_success
          endif
        -%}
        {% form 'customer_login', return_to: '/account' %}
          {%- if form.errors != blank -%}
            <div
              class="[ w-full mb-5 bg-red-100 text-red-900 px-4 py-3 ]"
              role="alert"
            >
              <div class="flex items-center">
                <div>
                  <svg
                    class="fill-current h-4 w-4 text-red-500 mr-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
                  </svg>
                </div>
                <p>{{ form.errors | default_errors }}</p>
              </div>
            </div>
          {%- endif -%}
          <div class="rounded-md shadow-sm">
            <div class="mb-6">
              <input
                id="CustomerEmail"
                class="appearance-none rounded-none relative block text-sm w-full py-1 border-b border-color leading-tight focus:outline-none focus:shadow-outline-blue bg-transparent focus:border-blue-300 focus:z-10 {% if form.errors contains 'email' %}input-error{% endif %}"
                placeholder="{{ 'customer.login.email' | t }}"
                aria-label="Email address"
                name="customer[email]"
                type="email"
                required
                spellcheck="false"
                autocomplete="off"
                autocapitalize="off"
                autofocus
              >
            </div>
            <div class="-mt-px">
              <input
                id="CustomerPassword"
                class="appearance-none rounded-none relative block text-sm w-full py-1 border-b border-color leading-tight focus:outline-none focus:shadow-outline-blue bg-transparent focus:border-blue-300 focus:z-10 {% if form.errors contains 'password' %}input-error{% endif %}"
                aria-label="Password"
                name="customer[password]"
                type="password"
                required
                placeholder="{{ 'customer.login.password' | t }}"
              >
            </div>
          </div>

          <div class="mt-4">
            <p class="block text-left focus:outline-none underline focus:underline transition ease-in-out duration-150 cursor-pointer">
              <a href="#recover">{{ 'customer.login.forgot_password' | t }}</a>
            </p>
          </div>

          <div class="mt-6">
            <button
              type="submit"
              class="[ group relative w-full focus:shadow-outline focus:outline-none py-3 leading-tight text-xs text-left ] btn"
            >
              <span class="mr-2 inline-block align-middle">
                {%- render 'icon-arrow-right' -%}
              </span>
              <span class="inline-block">
                {{ 'customer.login.sign_in' | t }}
              </span>
            </button>
          </div>
        {% endform %}
        <div class="mt-6 flex items-center justify-center">
          <div class="text-sm leading-5"></div>
        </div>
      </div>
    </div>
  </div>

  {% if shop.checkout.guest_login %}
    <h2>{{ 'customer.login.guest_title' | t }}</h2>

    {% form 'guest_login' %}
      <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
    {% endform %}
  {% endif %}
</section>
