<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!-- [if (gt IE 9)|!(IE)]><! -->
<html class="no-js" lang="{{ shop.locale }}">
  <!-- <![endif] -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_primary }}">

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>

    {%- if canonical_url != blank -%}
      <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    {%- unless settings.heading_font.system? and settings.body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png">
    {%- endif -%}

    {% capture seo_title %}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- unless page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {% endcapture %}
    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
    {{ content_for_header }}

    <!-- Tracking Codes -->
    {% render 'tracking-codes' %}

    <!-- Social Tags -->
    {%- render 'social-meta-tags' -%}

    <!-- Critical CSS -->
    {%- render 'google-fonts' -%}
    {%- render 'critical-css-variables' -%}
    <link async rel="stylesheet" href="{{ 'vendor.min.css' | asset_url }}">
    {% comment %} <script defer src="{{ 'jquery.min.js' | asset_url }}"></script> {% endcomment %}

    {%- assign background_image = settings.password_background_image -%}
    {%- assign background_color = settings.password_background_color -%}

    {%- style -%}
      body{
        background-image: url({{ background_image | image_url: width: 1024 }});
        background-color: {{ background_color }};
        background-size: cover;
        background-position: center;
      }
      h1, h2, h3, h4, h5, h6, p, a{
        color: {{ settings.password_font_color }};
      }
    {%- endstyle -%}
  
  

  {% include "globale-js" %}
</head>

  <body class="template-password">
    {% render 'google-fonts' %}

    <div class="h-100v w-full flex justify-center items-center">
      <div class="max-w-4xl px-4">
        <header role="banner">
          <h1 class="mb-4 lg:mb-8 text-center text-2xl lg:text-4xl" itemscope itemtype="http://schema.org/Organization">
            <div class="mx-auto">
              {%- if settings.password_use_logo -%}
                {% capture logo_width %}
              {{ settings.password_logo_mw }}
            {% endcapture %}
                <img
                  width="{{ settings.password_logo.width }}"
                  height="{{ settings.password_logo.height }}"
                  loading="lazy"
                  class="mx-auto"
                  src="{{ settings.password_logo | image_url: width: logo_width }}"
                  alt="{{ shop.name }}"
                >
              {%- else -%}
                {{ shop.name }}
              {%- endif -%}
            </div>
          </h1>
        </header>

        <main role="main" id="MainContent">
          {{ content_for_layout }}
        </main>

        <div x-data="{ passwordOpen: false }">
          <h4 class="cursor-pointer [ mb-4 ]" @click="passwordOpen = ! passwordOpen">
            {{ 'general.password_page.password_link' | t }} &rarr;
          </h4>
          <div id="Login" x-show="passwordOpen">
            {% form 'storefront_password' %}
              {% comment %} {{ form.errors | default_errors }} {% endcomment %}
              {%- if form.errors -%}
                {% render 'alert-error', error: form.errors %}
              {%- endif -%}
              <label
                style="position: absolute !important;overflow: hidden;clip: rect(0 0 0 0);height: 1px;width: 1px;margin: -1px;padding: 0;border: 0;"
                for="password"
              >
                {{- 'general.password_page.login_form_password_label' | t -}}
              </label>
              <div class="[ flex flex-row border border-gray-400 hover:border-gray-500 ]">
                <input
                  class="[ w-full flex-grow appearance-none bg-white px-4 py-3 pr-8 leading-tight focus:outline-none focus:shadow-outline border-none ]"
                  type="password"
                  name="password"
                  id="Password"
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                >
                <button
                  class="[ appearance-none bg-white px-4 py-3 pr-8 leading-tight focus:outline-none focus:shadow-outline border-none ]"
                  type="submit"
                  name="commit"
                >
                  {{ 'general.password_page.login_form_submit' | t }}
                </button>
              </div>
            {% endform %}
            <p class="my-4">{{ 'general.password_page.admin_link_html' | t }}</p>
          </div>
        </div>

        <footer class="[ flex flex-row text-center ]">
          {% capture shopify_link %}
          <a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
            <span class="w-20 inline-block align-middle">{% render 'icon-shopify-logo' %}</span>
            <span class="icon-fallback-text">Shopify</span>
          </a>
        {% endcapture %}
          <p class="[ w-full mt-4 w-100 ]">
            {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify_link }}
          </p>
        </footer>
      </div>
    </div>

    <link async rel="stylesheet" href="{{ 'theme.min.css' | asset_url }}">

    <script type="text/javascript">
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      window.slate = window.slate || {};
      window.theme = {
        strings: {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          inStock: {{ 'products.product.in_stock' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }},
          subscription:{
            savings_notice_html: {{ 'products.subscription.savings_notice_html' | t | json }},
            one_time_notice_html: {{ 'products.subscription.one_time_notice_html' | t | json }},
            one_time: {{ 'products.subscription.one_time' | t | json }},
            subscription: {{ 'products.subscription.subscription' | t | json }}
          }
        },
        currency: {
          symbol: '{{ cart.currency.symbol }}'
        },
        cart: {{ cart | json }},
        template: "{{ template }}",
        moneyFormat: {{ shop.money_format | json }},
        moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }},
        upsellModal:{
          show: true
        },
        useMiniCart: {{ settings.use_mini_cart }},
        siteAnimations: {{ settings.enable_animations }},
        routes:{
          cart_url: "{{ routes.cart_url }}",
          cart_change_url: "{{ routes.cart_change_url }}"
        }
      };
    </script>

    <!-- Shopify JS -->
    {%- if template.directory == 'customers' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    <!-- Libraries -->
    <script
      defer
      src="//instant.page/5.1.0"
      type="module"
      integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"
    ></script>
    <script async src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js"></script>
    <script async src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine-ie11.min.js" nomodule></script>
    <script defer src="{{ 'option_selection.js' | shopify_asset_url }}"></script>
    <script defer src="{{ 'rivets-cart.min.js' | asset_url }}"></script>

    {%- if settings.development_mode -%}
      <script defer src="{{ 'theme.bundle.js' | asset_url }}"></script>
    {%- else -%}
      <script defer src="{{ 'theme.bundle.min.js' | asset_url }}"></script>
    {%- endif -%}
  </body>
</html>
