{%- if section.settings.show_benefit -%}
  {%- liquid
    assign animation_delay = section.settings.animation_delay
    assign animation_total = section.blocks.size | times: animation_delay
    assign animation_percenatge = 100 | divided_by: section.blocks.size
    assign animation_percenatge_plus_one = animation_percenatge | plus: 1
    assign font_size_mobile = section.settings.font_size_mobile
    assign bar_height_mobile = section.settings.bar_height_mobile
    assign font_size_desktop = section.settings.font_size_desktop
    assign bar_height_desktop = section.settings.bar_height_desktop
  -%}

  {% style %}
    :root{
    --abb-background-color: {{ section.settings.background_color }};
    --abb-border-bottom: {{ section.settings.border_color_bottom }};
    }

    {%- if section.settings.make_sticky -%}
    #shopify-section-benefit-bar{
        position: sticky;
        top: 0;
        z-index: 999;
    }

    #shopify-section-benefit-bar + #shopify-section-header{
        top: {{ bar_height_mobile }}px;
    }
    {%- endif -%}

    .benefit-bar{
        position: relative;
        height: {{ bar_height_mobile }}px;
        overflow: hidden;
        background-color: var(--abb-background-color);
        border-bottom-color: var(--abb-border-bottom);
    }

    .benefit-bar a{
        text-decoration: none;
    }

    .benefit-bar a,
    .benefit-bar p{
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
        line-height: {{ bar_height_mobile }}px;
        color: {{ font_color }};
        font-size: {{ font_size_mobile }}px;
        font-family: var(--header-font-family);
        font-weight: var(--header-font-weight);
        font-style: var(--header-font-style);
        text-transform: var(--header-transform);
        letter-spacing: var(--header-letter-spacing);
    }

    .benefit-bar > div {
        width: 100%;
        height: {{ bar_height_mobile }}px;
        opacity: 1;
        {%- if section.blocks.size > 1 -%}
        position: absolute;
        top: 100%;
        left: 0;
        -webkit-animation: {{ animation_total }}s benefitRotate infinite ease-in-out;
        -moz-animation: {{ animation_total }}s benefitRotate infinite ease-in-out;
        -o-animation: {{ animation_total }}s benefitRotate infinite ease-in-out;
        animation: {{ animation_total }}s benefitRotate infinite ease-in-out;
        {%- endif -%}
    }

    .benefit-bar > div:hover { cursor: pointer; }

    @media only screen and (min-width: 1024px){

        {%- if section.settings.make_sticky -%}
        #shopify-section-benefit-bar + #shopify-section-header{
            top: {{ bar_height_desktop }}px;
        }
        {%- endif -%}

        .benefit-bar{
            height: {{ bar_height_desktop }}px;
        }

        .benefit-bar a,
        .benefit-bar p{
            line-height: {{ bar_height_desktop }}px;
            font-size: {{ font_size_desktop }}px;
        }

        .benefit-bar > div {
            height: {{ bar_height_desktop }}px;
        }
    }

    {%- if section.blocks.size > 1 -%}
        @keyframes benefitRotate {
            0% {top: 100%}
            4% {top: 0%}
            {{ animation_percenatge }}% {top: 0%}
            {{ animation_percenatge_plus_one }}% {top: -100%;}
            100% {top: -100%;}
        }

        {%- assign count = 1 -%}
        {%- assign delay = 0 -%}

        {%- for block in section.blocks -%}
        .benefit-bar > *:nth-child({{ count }}) {
            animation-delay: {{delay}}s;
        }
        {%- assign delay = delay | plus: animation_delay -%}
        {%- assign count = count | plus: 1 -%}
        {%- endfor -%}
    {%- endif -%}
  {% endstyle %}

  {%- unless section.settings.pdp_hidden and template.name == 'product' -%}
    {%- if section.settings.make_sticky -%}
      <div class="benefit-bar-sticky">
    {%- endif -%}

    <div class="benefit-bar border-b border-solid">
      {%- for block in section.blocks -%}
        {%- assign background_color = block.settings.background_color -%}
        {%- assign font_color = block.settings.font_color -%}
        <div class="benefit-bar__benefit" style="background-color: {{ background_color }};">
          {%- if block.type == 'countdown' -%}
            {%- liquid
              assign day = block.settings.day
              assign month = block.settings.month
              assign year = block.settings.year
              assign hour = block.settings.hour
              assign minute = block.settings.minute
              assign second = block.settings.second
              assign show_days = block.settings.show_days
              assign show_time = block.settings.show_time
              assign show_when_expired = block.settings.show_when_expired
              assign expired_message = block.settings.expired_message
              assign count_to = block.settings.count_to
              assign heading = block.settings.heading
              assign content = block.settings.content
              assign monday = block.settings.monday
              assign tuesday = block.settings.tuesday
              assign wednesday = block.settings.wednesday
              assign thursday = block.settings.thursday
              assign friday = block.settings.friday
              assign saturday = block.settings.saturday
              assign sunday = block.settings.sunday
            -%}
            {%- capture days -%}
          {%- if monday -%}1,{%- endif -%}{%- if tuesday -%}2,{%- endif -%}{%- if wednesday -%}3,{%- endif -%}{%- if thursday -%}4,{%- endif -%}{%- if friday -%}5,{%- endif -%}{%- if saturday -%}6,{%- endif -%}{%- if sunday -%}0{%- endif -%}
          {%- endcapture -%}
            <countdown-component
              aria-hidden="true"
              data-days-to-show="{{ days }}"
              data-day="{{ day }}"
              data-month="{{ month }}"
              data-year="{{ year }}"
              data-show-days="{{ show_days }}"
              data-hour="{{ hour }}"
              data-minute="{{ minute }}"
              data-second="{{ second }}"
              data-show-time="{{ show_time }}"
              data-show-when-expired="{{ show_when_expired }}"
              data-count-to="{{ count_to }}"
              {% unless expired_message == blank %}
                data-expired-message="{{ expired_message }}"
              {% endunless %}
            >
              {%- if block.settings.link -%}
                <a href="{{ block.settings.link }}">
                  <p style="color: {{ font_color }};" data-countdown-content>{{ content }}</p>
                </a>
              {%- else -%}
                <p style="color: {{ font_color }};" data-countdown-content>{{ content }}</p>
              {%- endif -%}
            </countdown-component>
          {%- else -%}
            {%- unless block.settings.link == blank -%}
              <a href="{{ block.settings.link }}" style="color: {{ font_color }};">
            {%- endunless -%}
            <p style="color: {{ font_color }};">{{ block.settings.benefit | escape }}</p>
            {%- unless block.settings.link == blank -%}
              </a>
            {%- endunless -%}
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if section.settings.make_sticky -%}
      </div>
    {%- endif -%}
  {%- endunless -%}
{%- endif -%}

<script defer src="{{ 'component-countdown.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Animated Benefit Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_benefit",
      "label": "Show Benefit bar",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "make_sticky",
      "label": "Make Sticky?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "pdp_hidden",
      "label": "Hide on Product template?",
      "default": true
    },
    {
      "type": "header",
      "content": "Bar"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Bar Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "border_color_bottom",
      "label": "Border Bottom Color",
      "default": "#C6C6C6"
    },
    {
      "type": "text",
      "id": "animation_delay",
      "label": "Delay",
      "default": "4",
      "info": "The delay between benefits"
    },
    {
      "type": "range",
      "id": "bar_height_mobile",
      "label": "Bar Size - Mobile",
      "min": 10,
      "max": 70,
      "step": 1,
      "default": 25
    },
    {
      "type": "range",
      "id": "bar_height_desktop",
      "label": "Bar Size - Desktop",
      "min": 10,
      "max": 70,
      "step": 1,
      "default": 25
    },
    {
      "type": "header",
      "content": "Fonts"
    },
    {
      "type": "color",
      "id": "font_color",
      "label": "Font Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "font_size_mobile",
      "label": "Font Size - Mobile",
      "min": 6,
      "max": 20,
      "step": 1,
      "default": 8
    },
    {
      "type": "range",
      "id": "font_size_desktop",
      "label": "Font Size - Desktop",
      "min": 6,
      "max": 20,
      "step": 1,
      "default": 10
    }
  ],
  "blocks": [
    {
      "type": "benefit",
      "name": "Benefit",
      "settings": [
        {
          "type": "text",
          "id": "benefit",
          "label": "Benefit"
        },
        {
          "type": "url",
          "id": "link",
          "label": "benefit link"
        },
        {
          "type": "checkbox",
          "id": "trigger_newsletter",
          "label": "Trigger Newsletter Modal",
          "default": false
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "font_color",
          "label": "Font Color",
          "default": "#FFFFFF"
        }
      ]
    },
    {
      "type": "countdown",
      "name": "Countdown",
      "limit": 1,
      "settings": [
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "show_when_expired",
          "label": "Show when expired?",
          "default": true
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color",
          "default": "#EEEEEE"
        },
        {
          "type": "text",
          "id": "expired_message",
          "label": "Expired Message",
          "default": "This countdown has expired"
        },
        {
          "type": "select",
          "id": "count_to",
          "label": "Count to..?",
          "options": [
            {
              "value": "date",
              "label": "Date"
            },
            {
              "value": "time",
              "label": "Time"
            },
            {
              "value": "both",
              "label": "Both"
            }
          ],
          "default": "both"
        },
        {
          "type": "header",
          "content": "Days to show Countdown"
        },
        {
          "type": "checkbox",
          "id": "monday",
          "label": "Monday",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "tuesday",
          "label": "Tuesday",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "wednesday",
          "label": "Wednesday",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "thursday",
          "label": "Thursday",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "friday",
          "label": "Friday",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "saturday",
          "label": "Saturday",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "sunday",
          "label": "Sunday",
          "default": true
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Content",
          "info": "Add '{countdown}' in to the text if you wish to show a countdown.",
          "default": "Order within {countdown} for same day dispatch."
        },
        {
          "type": "header",
          "content": "Date"
        },
        {
          "type": "checkbox",
          "id": "show_days",
          "label": "Show Days?",
          "default": true
        },
        {
          "type": "select",
          "id": "month",
          "label": "Month",
          "options": [
            {
              "value": "Jan",
              "label": "January"
            },
            {
              "value": "Feb",
              "label": "February"
            },
            {
              "value": "Mar",
              "label": "March"
            },
            {
              "value": "Apr",
              "label": "Apri"
            },
            {
              "value": "May",
              "label": "May"
            },
            {
              "value": "Jun",
              "label": "June"
            },
            {
              "value": "Jul",
              "label": "July"
            },
            {
              "value": "Aug",
              "label": "August"
            },
            {
              "value": "Sep",
              "label": "September"
            },
            {
              "value": "Oct",
              "label": "October"
            },
            {
              "value": "Nov",
              "label": "November"
            },
            {
              "value": "Dec",
              "label": "December"
            }
          ],
          "default": "Jan"
        },
        {
          "type": "range",
          "id": "day",
          "label": "Day",
          "min": 1,
          "max": 31,
          "step": 1,
          "default": 1
        },
        {
          "type": "text",
          "id": "year",
          "label": "Year",
          "info": "Enter in for digit format. For example, 2021."
        },
        {
          "type": "header",
          "content": "Time"
        },
        {
          "type": "checkbox",
          "id": "show_time",
          "label": "Show Time?",
          "default": true
        },
        {
          "type": "range",
          "id": "second",
          "label": "Second",
          "min": 0,
          "max": 60,
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "minute",
          "label": "Minute",
          "min": 0,
          "max": 60,
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "hour",
          "label": "Hour",
          "min": 0,
          "max": 24,
          "step": 1,
          "default": 14
        }
      ]
    }
  ]
}
{% endschema %}
