{% comment %} <link rel="stylesheet" href="{{ 'vendor-slick.css' | asset_url }}" media="print" onload="this.media='all'"> {% endcomment %}
{% comment %} <link rel="stylesheet" href="{{ 'vendor-slick-theme.css' | asset_url }}" media="print" onload="this.media='all'"> {% endcomment %}

{% comment %} <noscript>{{ 'vendor-slick.css' | asset_url | stylesheet_tag }}</noscript> {% endcomment %}
{% comment %} <noscript>{{ 'vendor-slick-theme.css' | asset_url | stylesheet_tag }}</noscript> {% endcomment %}

{%- if section.settings.show_benefits_bar -%}
  <div
    style="display: none;"
    id="benefits-bar-{{ section.id }}"
    data-benefits-bar
    class="benefits-bar mobile-cols-{{ section.settings.cols_mobile }} tablet-cols-{{ section.settings.cols_tablet }} desktop-cols-{{ section.settings.cols_desktop }}"
    data-mobile="{{ section.settings.cols_mobile }}"
    data-tablet="{{ section.settings.cols_tablet }}"
    data-desktop="{{ section.settings.cols_desktop }}"
    data-arrows="{{ section.settings.show_arrows }}"
    data-autoplay="{{ section.settings.autoplay }}"
    data-speed="{{ section.settings.autoplay_speed }}"
  >
    {%- for block in section.blocks -%}
      <div class="benefits-bar__col" {{ block.shopify_attributes }} id="col-{{ block.id }}">
        <div
          class="benefits-bar__inner"
          style="background-color: {{ block.settings.background_color }}; color: {{ block.settings.font_color }};"
        >
          {%- if block.settings.benefit_icon != blank -%}
            <div
              class="benefits-bar__icon"
              style="font-size: {{ block.settings.icon_size }}px; color: {{ block.settings.icon_color }};"
            >
              {{ block.settings.benefit_icon }}
            </div>
          {%- endif -%}
          <div class="benefits-bar__content">
            {%- if block.settings.benefit_title != blank -%}
              <p class="benefits-bar__title" style="font-size: {{ block.settings.title_size }}px;">
                <strong>{{ block.settings.benefit_title }}</strong>
              </p>
            {%- endif -%}
            {%- if block.settings.benefit_content != blank -%}
              <p class="benefits-bar__text" style="font-size: {{ block.settings.content_size }}px;">
                {{ block.settings.benefit_content }}
              </p>
            {%- endif -%}
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
{%- endif -%}

{% comment %} <script defer src="{{ 'vendor-slick.min.js' | asset_url }}" type="text/javascript"></script> {% endcomment %}

{% comment %}
  <script type="text/javascript">

      const benefitsBar      = document.getElementById('benefits-bar-{{ section.id }}'),
          dots               = benefitsBar.dataset.dots,
          arrows             = benefitsBar.dataset.arrows,
          speed              = benefitsBar.dataset.speed,
          autoPlay           = benefitsBar.dataset.autoplay,
          desktop            = benefitsBar.dataset.desktop,
          tablet             = benefitsBar.dataset.tablet,
          mobile             = benefitsBar.dataset.mobile;

      const options = {
          dots: dots,
          arrows: arrows,
          infinite: true,
          autoplay: autoPlay,
          autoplaySpeed: speed,
          slidesToShow: mobile,
          slidesToScroll: mobile,
          mobileFirst: true,
          responsive: [
              {
                  breakpoint: 768,
                  settings: {
                      slidesToShow: tablet,
                      slidesToScroll: tablet,
                  }
              },
              {
                  breakpoint: 1024,
                  settings: {
                      slidesToShow: desktop,
                      slidesToScroll: desktop,
                  }
              }
          ]
      };

      benefitsBar.slick(options);
  </script>
{% endcomment %}

{% schema %}
{
  "name": "Benefits Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_benefits_bar",
      "label": "Show Benefits Bar?",
      "default": true
    },
    {
      "type": "select",
      "id": "cols_mobile",
      "label": "Columns to show - Mobile",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "1",
          "label": "1"
        }
      ],
      "default": "1"
    },
    {
      "type": "select",
      "id": "cols_tablet",
      "label": "Columns to show - Tablet",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "cols_desktop",
      "label": "Columns to show - Desktop",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "1",
          "label": "1"
        }
      ],
      "default": "3"
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Show Arrows?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay?",
      "default": true
    },
    {
      "type": "text",
      "id": "autoplay_speed",
      "label": "Autoplay speed",
      "default": "5000"
    }
  ],
  "blocks": [
    {
      "type": "benefit",
      "name": "Benefit",
      "settings": [
        {
          "type": "text",
          "id": "benefit_title",
          "label": "Benefit Title"
        },
        {
          "type": "range",
          "id": "title_size",
          "label": "Title Size",
          "min": 2,
          "max": 40,
          "step": 1,
          "default": 14
        },
        {
          "type": "text",
          "id": "benefit_content",
          "label": "Content"
        },
        {
          "type": "range",
          "id": "content_size",
          "label": "Content Size",
          "min": 2,
          "max": 40,
          "step": 1,
          "default": 12
        },
        {
          "type": "text",
          "id": "benefit_icon",
          "label": "Icon",
          "info": "Insert the code for a font awesome icon here."
        },
        {
          "type": "range",
          "id": "icon_size",
          "label": "Icon Size",
          "min": 2,
          "max": 40,
          "step": 1,
          "default": 28
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "icon_color",
          "label": "Icon color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "font_color",
          "label": "Font color",
          "default": "#000000"
        }
      ]
    }
  ]
}
{% endschema %}
