{% style %}
  #contactForm-{{ section.id }}{
    background-color: {{ section.settings.section_background }};
  }

  @media only screen and (min-width: 1023px){
    #contactForm-{{ section.id }}{
      background-color: {{ section.settings.section_background_desktop }};
    }
  }
{% endstyle %}

<section
  id="contactForm-{{ section.id }}"
  class="{{ section.settings.section_spacing }} {{ section.settings.section_spacing_desktop }}"
>
  <div class="[ {% if section.settings.contain %}container{% endif %} mx-auto px-4 sm:px-6 lg:px-8 ]">
    {%- if section.blocks.size > 0 -%}
      <div class="max-w-xl {{ section.settings.form_alignment }}">
        {% form 'contact' %}
          {%- for block in section.blocks -%}
            <div class="{% unless block.first %}pt-10{% endunless %}">
              {% case block.type %}
                {%- when '@app' -%}
                  {% render block %}
                {% when 'first_name' %}
                  <div class="first-name">
                    <label class="sr-only" for="first-name">{{ 'contact.form.first_name' | t }}</label>
                    <input
                      class="w-full max-w-sm bg-transparent appearance focus:border-blue-300 border-b border-solid border-color leading-none px-0 py-2 text-sm"
                      type="text"
                      name="contact[first_name]"
                      placeholder="{{ block.settings.placeholder }}"
                      id="first-name"
                    >
                  </div>
                {% when 'last_name' %}
                  <div class="last-name">
                    <label class="sr-only" for="last-name">{{ 'contact.form.last_name' | t }}</label>
                    <input
                      class="w-full max-w-sm bg-transparent appearance focus:border-blue-300 border-b border-solid border-color leading-none px-0 py-2 text-sm"
                      type="text"
                      name="contact[last_name]"
                      placeholder="{{ block.settings.placeholder }}"
                      id="last-name"
                    >
                  </div>
                {% when 'email' %}
                  <div class="email">
                    <label class="sr-only" for="email">{{ 'contact.form.email' | t }}</label>
                    <input
                      class="w-full max-w-sm bg-transparent appearance focus:border-blue-300 border-b border-solid border-color leading-none px-0 py-2 text-sm"
                      type="text"
                      name="contact[email]"
                      placeholder="{{ block.settings.placeholder }}"
                      id="email"
                    >
                  </div>
                {% when 'phone' %}
                  <div class="phone">
                    <label class="sr-only" for="phone">{{ 'contact.form.phone' | t }}</label>
                    <input
                      class="w-full max-w-sm bg-transparent appearance focus:border-blue-300 border-b border-solid border-color leading-none px-0 py-2 text-sm"
                      type="text"
                      name="contact[phone]"
                      placeholder="{{ block.settings.placeholder }}"
                      id="phone"
                    >
                  </div>
                {% when 'order_number' %}
                  <div class="order_number">
                    <label class="sr-only" for="order_number">{{ 'contact.form.order_number' | t }}</label>
                    <input
                      class="w-full max-w-sm bg-transparent appearance focus:border-blue-300 border-b border-solid border-color leading-none px-0 py-2 text-sm"
                      type="text"
                      name="contact[order_number]"
                      placeholder="{{ block.settings.placeholder }}"
                      id="order_number"
                    >
                  </div>
                {% when 'message' %}
                  <div class="message">
                    <label class="sr-only" for="message">{{ 'contact.form.message' | t }}</label>
                    <textarea
                      class="w-full py-4 px-4 border-none appearance focus:border-blue-300 border-color leading-relaxed text-sm"
                      style="background-color: {{ block.settings.background_color }}"
                      rows="8"
                      type="text"
                      name="contact[body]"
                      id="message"
                      class=""
                      placeholder="{{ block.settings.placeholder }}"
                    ></textarea>
                  </div>
              {% endcase %}
            </div>
          {%- endfor -%}
        {%- endform -%}
      </div>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Contact Form",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "contain",
      "label": "Contain the Section within a wrapper?",
      "default": false
    },
    {
      "type": "select",
      "label": "Form Alignment",
      "id": "form_alignment",
      "default": "mr-auto",
      "options": [
        {
          "label": "Left",
          "value": "mr-auto"
        },
        {
          "label": "Right",
          "value": "ml-auto"
        },
        {
          "label": "Center",
          "value": "mx-auto"
        }
      ]
    },
    {
      "type": "header",
      "content": "Mobile Styling"
    },
    {
      "type": "color",
      "id": "section_background",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "select",
      "id": "section_spacing",
      "label": "Section Spacing",
      "options": [
        {
          "value": "py-0",
          "label": "None"
        },
        {
          "value": "py-8",
          "label": "Small"
        },
        {
          "value": "py-26",
          "label": "Medium"
        },
        {
          "value": "py-32",
          "label": "Large"
        },
        {
          "value": "py-64",
          "label": "x-Large"
        }
      ],
      "default": "py-8"
    },
    {
      "type": "header",
      "content": "Desktop Styling"
    },
    {
      "type": "color",
      "id": "section_background_desktop",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "select",
      "id": "section_spacing_desktop",
      "label": "Section Spacing",
      "options": [
        {
          "value": "py-0",
          "label": "None"
        },
        {
          "value": "py-8",
          "label": "Small"
        },
        {
          "value": "py-26",
          "label": "Medium"
        },
        {
          "value": "py-32",
          "label": "Large"
        },
        {
          "value": "py-64",
          "label": "x-Large"
        }
      ],
      "default": "py-8"
    }
  ],
  "blocks": [
    {
      "type": "first_name",
      "name": "First Name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "Placeholder",
          "id": "placeholder"
        }
      ]
    },
    {
      "type": "last_name",
      "name": "Last Name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "Placeholder",
          "id": "placeholder"
        }
      ]
    },
    {
      "type": "email",
      "name": "Email",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "Placeholder",
          "id": "placeholder"
        }
      ]
    },
    {
      "type": "phone",
      "name": "Phone",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "Placeholder",
          "id": "placeholder"
        }
      ]
    },
    {
      "type": "order_number",
      "name": "Order Number",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "Placeholder",
          "id": "placeholder"
        }
      ]
    },
    {
      "type": "message",
      "name": "Message",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "Placeholder",
          "id": "placeholder"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Textarea Background Color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact Form",
      "category": "Content"
    }
  ]
}
{% endschema %}
