{% style %}
  #contactForm-{{ section.id }}{
    background-color: {{ section.settings.section_background }};
  }

  @media only screen and (min-width: 1023px){
    #contactForm-{{ section.id }}{
      background-color: {{ section.settings.section_background_desktop }};
    }
  }
{% endstyle %}

<section
  id="contactForm-{{ section.id }}"
  class="{{ section.settings.spacing_top }} {{ section.settings.spacing_bottom }} {{ section.settings.spacing_top_desktop }} {{ section.settings.spacing_bottom_desktop }}"
>
  <div class="[ {% if section.settings.contain %}container{% endif %} mx-auto px-4 sm:px-6 lg:px-8 ]">
    {%- if section.blocks.size > 0 -%}
      <div class="max-w-xl {{ section.settings.form_alignment }}">
        {% form 'contact' %}
          {%- if form.posted_successfully? -%}
            <div class="py-6">
              <p>{{ 'contact.form.post_success' | t }}</p>
            </div>
          {%- else -%}
            {%- if form.errors != blank -%}
              <div
                class="[ my-4 w-full mb-5 bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md ]"
                role="alert"
              >
                <div class="flex items-center">
                  <div class="py-1">
                    <svg
                      class="fill-current h-6 w-6 text-red-500 mr-4"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                    >
                      <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
                    </svg>
                  </div>
                  <p>{{ form.errors | default_errors }}</p>
                </div>
              </div>
            {%- endif -%}
          {%- endif -%}
          <div class="{% if form.posted_successfully? %}hidden{% endif %}">
            {%- for block in section.blocks -%}
              <div class="{% unless forloop.first %}pt-10{% endunless %}">
                {% case block.type %}
                  {%- when '@app' -%}
                    {% render block %}
                  {% when 'first_name' %}
                    <div class="first-name">
                      <label class="sr-only" for="first-name">{{ 'contact.form.first_name' | t }}</label>
                      <input
                        class="w-full max-w-sm bg-transparent appearance focus:border-blue-300 border-b border-solid border-color leading-none px-0 py-2 text-sm"
                        type="text"
                        name="contact[first_name]"
                        placeholder="{{ block.settings.placeholder }}"
                        id="first-name"
                      >
                    </div>
                  {% when 'last_name' %}
                    <div class="last-name">
                      <label class="sr-only" for="last-name">{{ 'contact.form.last_name' | t }}</label>
                      <input
                        class="w-full max-w-sm bg-transparent appearance focus:border-blue-300 border-b border-solid border-color leading-none px-0 py-2 text-sm"
                        type="text"
                        name="contact[last_name]"
                        placeholder="{{ block.settings.placeholder }}"
                        id="last-name"
                      >
                    </div>
                  {% when 'email' %}
                    <div class="email">
                      <label class="sr-only" for="email">{{ 'contact.form.email' | t }}</label>
                      <input
                        class="w-full max-w-sm bg-transparent appearance focus:border-blue-300 border-b border-solid border-color leading-none px-0 py-2 text-sm"
                        type="text"
                        name="contact[email]"
                        placeholder="{{ block.settings.placeholder }}"
                        id="email"
                      >
                    </div>
                  {% when 'phone' %}
                    <div class="phone">
                      <label class="sr-only" for="phone">{{ 'contact.form.phone' | t }}</label>
                      <input
                        class="w-full max-w-sm bg-transparent appearance focus:border-blue-300 border-b border-solid border-color leading-none px-0 py-2 text-sm"
                        type="text"
                        name="contact[phone]"
                        placeholder="{{ block.settings.placeholder }}"
                        id="phone"
                      >
                    </div>
                  {% when 'order_number' %}
                    <div class="order_number">
                      <label class="sr-only" for="order_number">{{ 'contact.form.order_number' | t }}</label>
                      <input
                        class="w-full max-w-sm bg-transparent appearance focus:border-blue-300 border-b border-solid border-color leading-none px-0 py-2 text-sm"
                        type="text"
                        name="contact[order_number]"
                        placeholder="{{ block.settings.placeholder }}"
                        id="order_number"
                      >
                    </div>
                  {% when 'message' %}
                    <div class="message">
                      <label class="sr-only" for="message">{{ 'contact.form.message' | t }}</label>
                      <textarea
                        class="w-full py-4 px-4 border-none appearance focus:border-blue-300 border-color leading-relaxed text-sm"
                        style="background-color: {{ block.settings.background_color }}"
                        rows="8"
                        type="text"
                        name="contact[body]"
                        id="message"
                        class=""
                        placeholder="{{ block.settings.placeholder }}"
                      ></textarea>
                    </div>
                {% endcase %}
              </div>
            {%- endfor -%}
            <div class="pt-10">
              <button
                type="submit"
                class="flex items-center group appearance-none text-base border-none bg-transparent leading-none p-0"
              >
                {% render 'icon-arrow-right' %}
                <span class="inline-block ml-4 group-hover:ml-8 transition-all ease-in duration-500 text-base leading-none">
                  {{- 'contact.form.send' | t -}}
                </span>
              </button>
            </div>
          </div>
        {%- endform -%}
      </div>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Contact Form",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "contain",
      "label": "Contain the Section within a wrapper?",
      "default": false
    },
    {
      "type": "select",
      "label": "Form Alignment",
      "id": "form_alignment",
      "default": "mr-auto",
      "options": [
        {
          "label": "Left",
          "value": "mr-auto"
        },
        {
          "label": "Right",
          "value": "ml-auto"
        },
        {
          "label": "Center",
          "value": "mx-auto"
        }
      ]
    },
    {
      "type": "header",
      "content": "Mobile Styling"
    },
    {
      "type": "color",
      "id": "section_background",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "select",
      "id": "spacing_top",
      "label": "Spacing Top",
      "options": [
        {
          "value": "pt-0",
          "label": "None"
        },
        {
          "value": "pt-8",
          "label": "Small"
        },
        {
          "value": "pt-26",
          "label": "Medium"
        },
        {
          "value": "pt-32",
          "label": "Large"
        },
        {
          "value": "pt-64",
          "label": "x-Large"
        }
      ],
      "default": "pt-8"
    },
    {
      "type": "select",
      "id": "spacing_bottom",
      "label": "Spacing Bottom",
      "options": [
        {
          "value": "pb-0",
          "label": "None"
        },
        {
          "value": "pb-8",
          "label": "Small"
        },
        {
          "value": "pb-26",
          "label": "Medium"
        },
        {
          "value": "pb-32",
          "label": "Large"
        },
        {
          "value": "pb-64",
          "label": "x-Large"
        }
      ],
      "default": "pb-8"
    },
    {
      "type": "header",
      "content": "Desktop Styling"
    },
    {
      "type": "color",
      "id": "section_background_desktop",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "select",
      "id": "spacing_top_desktop",
      "label": "Spacing Top",
      "options": [
        {
          "value": "lg:pt-0",
          "label": "None"
        },
        {
          "value": "lg:pt-8",
          "label": "Small"
        },
        {
          "value": "lg:pt-26",
          "label": "Medium"
        },
        {
          "value": "lg:pt-32",
          "label": "Large"
        },
        {
          "value": "lg:pt-64",
          "label": "x-Large"
        }
      ],
      "default": "lg:pt-8"
    },
    {
      "type": "select",
      "id": "spacing_bottom_desktop",
      "label": "Spacing Bottom",
      "options": [
        {
          "value": "lg:pb-0",
          "label": "None"
        },
        {
          "value": "lg:pb-8",
          "label": "Small"
        },
        {
          "value": "lg:pb-26",
          "label": "Medium"
        },
        {
          "value": "lg:pb-32",
          "label": "Large"
        },
        {
          "value": "lg:pb-64",
          "label": "x-Large"
        }
      ],
      "default": "lg:pb-8"
    }
  ],
  "blocks": [
    {
      "type": "first_name",
      "name": "First Name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "Placeholder",
          "id": "placeholder"
        }
      ]
    },
    {
      "type": "last_name",
      "name": "Last Name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "Placeholder",
          "id": "placeholder"
        }
      ]
    },
    {
      "type": "email",
      "name": "Email",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "Placeholder",
          "id": "placeholder"
        }
      ]
    },
    {
      "type": "phone",
      "name": "Phone",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "Placeholder",
          "id": "placeholder"
        }
      ]
    },
    {
      "type": "order_number",
      "name": "Order Number",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "Placeholder",
          "id": "placeholder"
        }
      ]
    },
    {
      "type": "message",
      "name": "Message",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "Placeholder",
          "id": "placeholder"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Textarea Background Color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact Form",
      "category": "Content"
    }
  ]
}
{% endschema %}
