{%- liquid
assign show_section = section.settings.show_section
assign preheading = section.settings.preheading
assign heading = section.settings.heading
assign content = section.settings.content
assign section_spacing = section.settings.section_spacing
assign background_color = section.settings.background_color
assign border_color = section.settings.border_color
assign icon_color = section.settings.icon_color
assign font_color = section.settings.font_color -%}
{% style %}
#shopify-section-{{ section.id }} .faq-section{
    background-color: {{ background_color }};
}

#shopify-section-{{ section.id }} .faq{
    border-color: {{ border_color }};
}

#shopify-section-{{ section.id }} .faq__question{
    color: {{ icon_color }};
}

#shopify-section-{{ section.id }} .faq__icon{
    color: {{ icon_color }};
}

#shopify-section-{{ section.id }} .faq__answer{
    color: {{ font_color }};
}
{% endstyle %}
{%- if show_section -%}
<section class="faq-section {{ section_spacing }}">
    <div class="container mx-auto">

        {%- unless preheading == blank -%}
        <h5 class="faq-section__preheading [ text-center pb-4 ]">{{ preheading }}</h5>
        {%- endunless -%}

        {%- unless heading == blank -%}
        <h2 class="faq-section__heading [ text-center pb-4 ]">{{ heading }}</h2>
        {%- endunless -%}

        {%- unless content == blank -%}
        <div class="faq-section__content rte [ text-center pb-4 lg:pb-8 ]">{{ content }}</div>
        {%- endunless -%}

        {%- for block in section.blocks -%}
        {%- assign question = block.settings.question -%}
        {%- assign answer = block.settings.answer -%}
        <div @click="question{{ forloop.index }}Active = ! question{{ forloop.index }}Active" x-data="{ question{{ forloop.index }}Active: false }" class="[ lg:px-4 py-3 {% if forloop.first %}border-t{% endif %} border-b border-solid ] faq">
            <div class="flex items-center justify-between cursor-pointer">
                <div class="w-0 flex-1 flex items-center">
                    <span class="flex-1 w-0">
                        <p class="faq__question heading leading-snug">{{ question }}</p>
                    </span>
                </div>
                <div class="ml-4 flex-shrink-0">
                    <span x-show="question{{ forloop.index }}Active" class="faq__icon">
                        {%- render 'icon-minus' -%}
                    </span>
                    <span x-show="!question{{ forloop.index }}Active" class="faq__icon">
                        {%- render 'icon-plus' -%}
                    </span>
                </div>
            </div>
            <div x-show="question{{ forloop.index }}Active" class="leading-relaxed pt-4 faq__answer">
                {{ answer }}
            </div>
        </div>
        {%- endfor -%}
    </div>
</section>
{%- endif -%}

{% schema %}
{
  "name": "FAQs",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show Section?",
      "default": true
    },
    {
      "type": "select",
      "id": "section_spacing",
      "label": "Section Spacing",
      "options": [
        {
          "value": "py-0",
          "label": "None"
        },
        {
          "value": "py-8",
          "label": "Small"
        },
        {
          "value": "py-16",
          "label": "Medium"
        },
        {
          "value": "py-32",
          "label": "Large"
        },
        {
          "value": "py-64",
          "label": "x-Large"
        }
      ],
      "default": "py-8"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "icon_color",
      "label": "Icon Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "font_color",
      "label": "Font Color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "preheading",
      "label": "Preheading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Default <em>richtext</em> <a href=\"https://example.com/\">content</a></p>"
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Default <em>richtext</em> <a href=\"https://example.com/\">content</a></p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQs",
      "category": "Content"
    }
  ]
}
{% endschema %}