{%- if section.settings.show_lightning_nav -%}
  <link
    rel="stylesheet"
    href="{{ 'component-lightning-menu.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
  <noscript>{{ 'component-lightning-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}
{% style %}
  :root{
    --header-height: 0px;
    --header-border-bottom: {{ section.settings.border_color_bottom }};
    {%- if settings.enable_overlay and template.name == "index" -%}
      --header-menu-link-color: {{ settings.overlay_link_color }};
      --header-menu-link-color-hover: {{ settings.overlay_link_color_hover }};
      --header-background-color: transparent;
    {%- else -%}
      --header-menu-link-color: {{ section.settings.menu_link_color }};
      --header-menu-link-color-hover: {{ section.settings.menu_link_color_hover }};
      --header-background-color: {{ section.settings.background_color }};
    {%- endif -%}
  }

  #shopify-section-header{
    {%- if settings.enable_overlay and template.name == "index" -%}
      position: fixed;
    {%- else -%}
    position: sticky;
    {%- endif -%}
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;
    /* height: var(--header-height); */
  }

  header{
    border-bottom-color: var(--header-border-bottom);
  }

  .header-wrap__bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    background-color: var(--header-background-color);
  }

  .header-wrap .header-wrap__bg,
  .mega-menu {
    background-color: var(--header-background-color);
  }

  .header-font-color{
    color: var(--header-menu-link-color);
  }

  .menu__bars{
    background-color: var(--header-menu-link-color);
  }

  .header-font-color:hover{
    color: var(--header-menu-link-color-hover);
  }

  button:hover .menu__bars{
    background-color: var(--header-menu-link-color);
  }

  }

  .lightning-menu{
    border-top-color: {{ section.settings.lightning_nav_border_top }};
    border-bottom-color: {{ section.settings.lightning_nav_border_bottom }};
    background-color: {{ section.settings.lightning_nav_bg_color }};
  }

  .lightning-link{
    color: {{ section.settings.lightning_nav_link_color }};
  }

  .header-logo{
    max-width: {{ section.settings.logo_max_width_mobile }}px;
  }

  @media only screen and (min-width: 1024px){
    .header-logo{
      max-width: {{ section.settings.logo_max_width_desktop }}px;
    }
  }

  .navigation-link{
    font-size: {{ section.settings.font_size }}px;
  }
{% endstyle %}

<div class="relative" data-section-id="{{ section.id }}" data-section-type="header-section">
  {%- liquid
    if section.settings.desktop_header_style == 'logo-left'
      render 'desktop-header-style-one'
    else
      render 'desktop-header-style-two'
    endif
  -%}

  {%- liquid
    if section.settings.mobile_header_style == 'logo-left'
      render 'mobile-header-logo-left'
    else
      render 'mobile-header-logo-center'
    endif
  -%}
</div>

{% javascript %}
  /*const localizationFormSubmit = function (event) {
    event.target.form.submit();
  };

  document.querySelectorAll('.shopify-localization-form select').forEach(function (element) {
    element.addEventListener('change', localizationFormSubmit);
  });*/

  const root = document.querySelector(':root');
  const header = document.querySelector('header');
  const promoBar = document.getElementById('shopify-section-promo-bar') || false;

  let headerHeight = header.offsetHeight;

  if (promoBar) {
    headerHeight += 0;
  }

  root.style.setProperty('--header-height', `${headerHeight}px`);

  window.addEventListener('resize', () => {
    let headerHeight = header.offsetHeight;

    if (promoBar) {
      headerHeight += 0;
    }

    root.style.setProperty('--header-height', `${headerHeight}px`);
  });
{% endjavascript %}

{%- if section.settings.show_lightning_nav -%}
  <script src="{{ 'lightning-menu.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "border_color_bottom",
      "label": "Border Color Bottom",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "menu_link_color",
      "label": "Menu Link Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "menu_link_color_hover",
      "label": "Menu Link Color - Hover",
      "default": "#999999"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "Navigation Font Size",
      "min": 8,
      "max": 28,
      "step": 1,
      "default": 14
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "contain",
      "label": "Contain the Header within wrapper?",
      "default": false
    },
    {
      "type": "select",
      "id": "desktop_header_style",
      "label": "Desktop Header Style",
      "options": [
        {
          "value": "logo-left",
          "label": "Logo left"
        },
        {
          "value": "logo-center",
          "label": "Logo Center"
        }
      ],
      "default": "logo-center"
    },
    {
      "type": "select",
      "id": "mobile_header_style",
      "label": "Mobile Header Style",
      "options": [
        {
          "value": "logo-left",
          "label": "Logo Left"
        },
        {
          "value": "logo-center",
          "label": "Logo Center"
        }
      ],
      "default": "logo-center"
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_max_width_mobile",
      "min": 50,
      "max": 450,
      "step": 10,
      "unit": "px",
      "label": "Logo max width - mobile",
      "default": 120
    },
    {
      "type": "range",
      "id": "logo_max_width_desktop",
      "min": 50,
      "max": 450,
      "step": 10,
      "unit": "px",
      "label": "Logo max width - desktop",
      "default": 200
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Secondary Navigation"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_nav",
      "label": "Show secondary navigation menu?",
      "default": true,
      "info": "Only visible on Header Style Two"
    },
    {
      "type": "link_list",
      "id": "secondary_nav",
      "label": "Secondary navigation menu",
      "info": "The scrollable menu underneath the main header"
    },
    {
      "type": "header",
      "content": "Quick Links"
    },
    {
      "type": "select",
      "id": "account_type",
      "label": "Account link type",
      "options": [
        {
          "value": "icon",
          "label": "Icon"
        },
        {
          "value": "links",
          "label": "Links"
        }
      ],
      "default": "icon"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show Currency Selector?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_localisation_form",
      "label": "Show Localisation Selector?",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "mega_menu_image",
      "name": "Mega Menu - Image",
      "settings": [
        {
          "type": "url",
          "id": "menu_link",
          "label": "Menu Link",
          "info": "This should be the link you want your menu to appear under"
        },
        {
          "type": "range",
          "id": "column_width",
          "label": "Column Width",
          "min": 1,
          "max": 100,
          "step": 1,
          "default": 25
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_height",
          "label": "Image Height",
          "info": "Height in pixels. Do not add PX measurement."
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Image Link"
        },
        {
          "type": "text",
          "id": "image_heading",
          "label": "Image Heading"
        }
      ]
    },
    {
      "type": "mega_menu_menu",
      "name": "Mega Menu - Menu",
      "settings": [
        {
          "type": "url",
          "id": "menu_link",
          "label": "Menu Link",
          "info": "This should be the link you want your menu to appear under"
        },
        {
          "type": "range",
          "id": "column_width",
          "label": "Column Width",
          "min": 1,
          "max": 100,
          "step": 1,
          "default": 25
        },
        {
          "type": "text",
          "id": "menu_heading",
          "label": "Menu Heading"
        },
        {
          "type": "url",
          "id": "heading_url",
          "label": "Heading URL",
          "info": "A link for the heading"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    }
  ]
}
{% endschema %}
