{%- if section.settings.show_slideshow -%}
<style>

@media only screen and (max-width: 989px ){
    #slideshow{{ section.id }},
    .slide,
    .slide .slide__container{
        height: {{ section.settings.max_height_mobile }}vh;
    }
}

@media only screen and (min-width: 990px ){
    #slideshow{{ section.id }},
    .slide,
    .slide .slide__container{
        height: {{ section.settings.max_height_desktop }}vh;
    }
}

{%- for block in section.blocks -%}
    {%- liquid
    assign mobile_image_focus = block.settings.mobile_image_focus
    assign desktop_image_focus = block.settings.desktop_image_focus
    assign heading_size_mobile = block.settings.heading_size_mobile
    assign content_size_mobile = block.settings.content_size_mobile
    assign heading_size_desktop = block.settings.heading_size_desktop
    assign content_size_desktop = block.settings.content_size_desktop
    assign content_color_mobile = block.settings.content_color_mobile
    assign content_color_desktop = block.settings.content_color_desktop
    assign mobile_content_focus = block.settings.mobile_content_focus | split: " "
    assign desktop_content_focus = block.settings.desktop_content_focus | split: " " -%}

@media only screen and (max-width: 989px ){

    .slide--{{ block.id }}{
        background-position: {{ mobile_image_focus }};
    }

    .slide--{{ block.id }} .slide__inner{
        justify-content: {{ mobile_content_focus | first }};
        align-items: {{ mobile_content_focus | last }};
    }

    .slide--{{ block.id }} .slide__content{
        text-align: {{ block.settings.mobile_content_alignment }};
    }

    .slide--{{ block.id }} .slide__heading{
        font-size: {{ heading_size_mobile }}px;
        color: {{ content_color_mobile }};
    }

    .slide--{{ block.id }} .slide__rte{
        font-size: {{ content_size_mobile }}px;
        color: {{ content_color_mobile }};
    }
}

@media only screen and (min-width: 990px ){

    .slide--{{ block.id }}{
        background-position: {{ desktop_image_focus }};
    }

    .slide--{{ block.id }} .slide__inner{
        justify-content: {{ desktop_content_focus | first }};
        align-items: {{ desktop_content_focus | last }};
    }

    .slide--{{ block.id }} .slide__content{
        text-align: {{ block.settings.desktop_content_alignment }};
    }

    .slide--{{ block.id }} .slide__heading{
        font-size: {{ heading_size_desktop }}px;
        color: {{ content_color_desktop }};
    }

    .slide--{{ block.id }} .slide__rte{
        font-size: {{ content_size_desktop }}px;
        color: {{ content_color_desktop }};
    }
}

@media only screen and (max-width: 320px ){
    .slide--{{ block.id }}{
        background-image: {{ block.settings.mobile_image | image_url: width: 320 }};
    }
}

@media only screen and (min-width: 321px ) and (max-width: 639px){
    .slide--{{ block.id }}{
        background-image: url("{{ block.settings.desktop_image | image_url: width: 640 }}");
    }
}

@media only screen and (min-width: 640px ) and (max-width: 749px){
    .slide--{{ block.id }}{
        background-image: url("{{ block.settings.mobile_image | image_url: width: 750 }}");
    }
}

@media only screen and (min-width: 750px ) and (max-width: 991px){
    .slide--{{ block.id }}{
        background-image: url("{{ block.settings.mobile_image | image_url: width: 990 }}");
    }
}

@media only screen and (min-width: 992px ) and (max-width: 1023px){
    .slide--{{ block.id }}{
        background-image: url("{{ block.settings.desktop_image | image_url: width: 1024 }}");
    }
}

@media only screen and (min-width: 1024px ) and (max-width: 1439px){
    .slide--{{ block.id }}{
        background-image: url("{{ block.settings.desktop_image | image_url: width: 1440 }}");
    }
}

@media only screen and (min-width: 1440px ){
    .slide--{{ block.id }}{
        background-image: url("{{ block.settings.desktop_image | image_url: width: 1980 }}");
    }
}

{%- endfor -%}
</style>

<div id="slideshow{{ section.id }}" class="slideshow slideshow--index" data-slideshow data-slick='{ "dots": {{ section.settings.show_dots }}, "arrows": {{ section.settings.show_arrows }}, "autoplay": {{ section.settings.autoplay }}, "autoplaySpeed": {{ section.settings.autoplay_speed }}, "infinite": {{ section.settings.loop }} }' {{ section.id }}>
    {%- for block in section.blocks -%}
    <div class="slide slide--{{ block.id }}">
        <div class="slide__container">
            <div class="slide__inner">
                <div class="slide__content">
                    {%- if block.settings.heading != blank -%}
                    <h2 class="slide__heading">{{ block.settings.heading | newline_to_br }}</h2>
                    {%- endif -%}
                    {%- if block.settings.content != blank -%}
                    <p class="slide__rte">{{ block.settings.content | newline_to_br }}</p>
                    {%- endif -%}

                    {%- if block.settings.show_cta_one or block.settings.show_cta_two -%}
                    <div class="slide__button-container">
                        {%- if block.settings.cta_text != blank -%}
                        <a href="{{ block.settings.cta_link }}" class="btn slide__button button--one {{ block.settings.cta_style }}">{{ block.settings.cta_text }}</a>
                        {%- endif -%}

                        {%- if block.settings.cta_text_two != blank -%}
                        <a href="{{ block.settings.cta_link_two }}" class="btn slide__button button--one {{ block.settings.cta_style_two }}">{{ block.settings.cta_text_two }}</a>
                        {%- endif -%}
                    </div>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
    {%- endfor -%}
</div>
{%- endif -%}

{% schema %}
{
  "name": "slideshow",
  "class": "slideshow-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_slideshow",
      "label": "Show section?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_dots",
      "label": "Show pagination dots?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Show arrows?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay?",
      "default": true
    },
    {
      "type": "text",
      "id": "autoplay_speed",
      "label": "Autoplay Speed",
      "default": "5000"
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Loop?",
      "default": true
    },
    {
      "type": "range",
      "id": "max_height_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "vh",
      "label": "Max Height - Mobile",
      "default": 90
    },
    {
      "type": "range",
      "id": "max_height_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "vh",
      "label": "Max Height - Desktop",
      "default": 90
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "paragraph",
          "content": "Images"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Image - Mobile"
        },
        {
          "type": "select",
          "id": "mobile_image_focus",
          "label": "Image Focus",
          "options": [
            {
              "label": "Top Left",
              "value": "top left"
            },
            {
              "label": "Center Left",
              "value": "center left"
            },
            {
              "label": "Bottom Left",
              "value": "bottom left"
            },
            {
              "label": "Top Center",
              "value": "top center"
            },
            {
              "label": "Center Center",
              "value": "center"
            },
            {
              "label": "Bottom Center",
              "value": "bottom center"
            },
            {
              "label": "Top Right",
              "value": "top right"
            },
            {
              "label": "Center Right",
              "value": "center right"
            },
            {
              "label": "Bottom Right",
              "value": "bottom right"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Image - Desktop"
        },
        {
          "type": "select",
          "id": "desktop_image_focus",
          "label": "Image Focus",
          "options": [
            {
              "label": "Top Left",
              "value": "top left"
            },
            {
              "label": "Center Left",
              "value": "center left"
            },
            {
              "label": "Bottom Left",
              "value": "bottom left"
            },
            {
              "label": "Top Center",
              "value": "top center"
            },
            {
              "label": "Center Center",
              "value": "center"
            },
            {
              "label": "Bottom Center",
              "value": "bottom center"
            },
            {
              "label": "Top Right",
              "value": "top right"
            },
            {
              "label": "Center Right",
              "value": "center right"
            },
            {
              "label": "Bottom Right",
              "value": "bottom right"
            }
          ]
        },
        {
          "type": "paragraph",
          "content": "Content Alignment"
        },
        {
          "type": "select",
          "id": "mobile_content_focus",
          "label": "Content Focus - Mobile",
          "options": [
            {
              "label": "Top Left",
              "value": "flex-start flex-start"
            },
            {
              "label": "Center Left",
              "value": "center flex-start"
            },
            {
              "label": "Bottom Left",
              "value": "flex-end flex-start"
            },
            {
              "label": "Top Center",
              "value": "flex-start center"
            },
            {
              "label": "Center Center",
              "value": "center center"
            },
            {
              "label": "Bottom Center",
              "value": "flex-end center"
            },
            {
              "label": "Top Right",
              "value": "flex-start flex-end"
            },
            {
              "label": "Center Right",
              "value": "center flex-end"
            },
            {
              "label": "Bottom Right",
              "value": "flex-end flex-end"
            }
          ]
        },
        {
          "type": "select",
          "id": "mobile_content_alignment",
          "label": "Content Alignment - Mobile",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ]
        },
        {
          "type": "select",
          "id": "desktop_content_focus",
          "label": "Content Focus - Desktop",
          "options": [
            {
              "label": "Top Left",
              "value": "flex-start flex-start"
            },
            {
              "label": "Center Left",
              "value": "center flex-start"
            },
            {
              "label": "Bottom Left",
              "value": "flex-end flex-start"
            },
            {
              "label": "Top Center",
              "value": "flex-start center"
            },
            {
              "label": "Center Center",
              "value": "center center"
            },
            {
              "label": "Bottom Center",
              "value": "flex-end center"
            },
            {
              "label": "Top Right",
              "value": "flex-start flex-end"
            },
            {
              "label": "Center Right",
              "value": "center flex-end"
            },
            {
              "label": "Bottom Right",
              "value": "flex-end flex-end"
            }
          ]
        },
        {
          "type": "select",
          "id": "desktop_content_alignment",
          "label": "Content Alignment - Desktop",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ]
        },
        {
          "type": "paragraph",
          "content": "Content"
        },
        {
          "type": "textarea",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "paragraph",
          "content": "Call to Action One"
        },
        {
          "type": "checkbox",
          "id": "show_cta_one",
          "label": "Show CTA one?",
          "default": true
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "CTA Text"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "URL"
        },
        {
          "type": "select",
          "id": "cta_style",
          "label": "CTA Style",
          "options": [
            {
              "label": "Primary",
              "value": "primary-button"
            },
            {
              "label": "Secondary",
              "value": "secondary-button"
            },
            {
              "label": "Tertiary",
              "value": "tertiary-button"
            }
          ],
          "default": "primary-button"
        },
        {
          "type": "paragraph",
          "content": "Call to Action Two"
        },
        {
          "type": "checkbox",
          "id": "show_cta_two",
          "label": "Show CTA two?",
          "default": true
        },
        {
          "type": "text",
          "id": "cta_text_two",
          "label": "CTA Text"
        },
        {
          "type": "url",
          "id": "cta_link_two",
          "label": "URL"
        },
        {
          "type": "select",
          "id": "cta_style_two",
          "label": "CTA Style",
          "options": [
            {
              "label": "Primary",
              "value": "primary-button"
            },
            {
              "label": "Secondary",
              "value": "secondary-button"
            },
            {
              "label": "Tertiary",
              "value": "tertiary-button"
            }
          ],
          "default": "primary-button"
        },
        {
          "type": "paragraph",
          "content": "Styles"
        },
        {
          "type": "range",
          "id": "heading_size_mobile",
          "label": "Heading font size - Mobile",
          "min": 8,
          "max": 50,
          "step": 1,
          "default": 28
        },
        {
          "type": "range",
          "id": "content_size_mobile",
          "label": "Content font size - Mobile",
          "min": 8,
          "max": 50,
          "step": 1,
          "default": 16
        },
        {
          "type": "color",
          "id": "content_color_mobile",
          "label": "Heading & Content Color - Mobile",
          "default": "#FFFFFF"
        },
        {
          "type": "range",
          "id": "heading_size_desktop",
          "label": "Heading font size - Desktop",
          "min": 8,
          "max": 50,
          "step": 1,
          "default": 34
        },
        {
          "type": "range",
          "id": "content_size_desktop",
          "label": "Content font size - Desktop",
          "min": 8,
          "max": 50,
          "step": 1,
          "default": 16
        },
        {
          "type": "color",
          "id": "content_color_desktop",
          "label": "Content Color - Desktop",
          "default": "#FFFFFF"
        }
      ]
    }
  ]
}
{% endschema %}