{% style %}
  #mainPage-{{ section.id }}{
    background-color: {{ section.settings.section_background }};
  }

  @media only screen and (min-width: 1023px){
    #mainPage-{{ section.id }}{
      background-color: {{ section.settings.section_background_desktop }};
    }
  }
{% endstyle %}
<section
  id="mainPage-{{ section.id }}"
  class="{{ section.settings.spacing_top }} {{ section.settings.spacing_bottom }} {{ section.settings.spacing_top_desktop }} {{ section.settings.spacing_bottom_desktop }}"
>
  <div class="[ {% if section.settings.contain %}container{% endif %} mt-8 mb-12 mx-auto px-4 sm:px-6 lg:px-8 ]">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'breadcrumbs' -%}
          {% render 'breadcrumb', list_classes: block.settings.breadcrumb_alignment %}
        {%- when 'header' -%}
          {% render 'page-header', alignment: block.settings.content_alignment %}
        {%- when 'content' -%}
          <div class="overflow-hidden mt-8">
            <div class="rte">
              {{ page.content }}
            </div>
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "Page",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "contain",
      "label": "Contain the Section within a wrapper?",
      "default": false
    },
    {
      "type": "header",
      "content": "Mobile Styling"
    },
    {
      "type": "color",
      "id": "section_background",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "select",
      "id": "spacing_top",
      "label": "Spacing Top",
      "options": [
        {
          "value": "pt-0",
          "label": "None"
        },
        {
          "value": "pt-8",
          "label": "Small"
        },
        {
          "value": "pt-26",
          "label": "Medium"
        },
        {
          "value": "pt-32",
          "label": "Large"
        },
        {
          "value": "pt-64",
          "label": "x-Large"
        }
      ],
      "default": "pt-8"
    },
    {
      "type": "select",
      "id": "spacing_bottom",
      "label": "Spacing Bottom",
      "options": [
        {
          "value": "pb-0",
          "label": "None"
        },
        {
          "value": "pb-8",
          "label": "Small"
        },
        {
          "value": "pb-26",
          "label": "Medium"
        },
        {
          "value": "pb-32",
          "label": "Large"
        },
        {
          "value": "pb-64",
          "label": "x-Large"
        }
      ],
      "default": "pb-8"
    },
    {
      "type": "header",
      "content": "Desktop Styling"
    },
    {
      "type": "color",
      "id": "section_background_desktop",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "select",
      "id": "spacing_top_desktop",
      "label": "Spacing Top",
      "options": [
        {
          "value": "lg:pt-0",
          "label": "None"
        },
        {
          "value": "lg:pt-8",
          "label": "Small"
        },
        {
          "value": "lg:pt-26",
          "label": "Medium"
        },
        {
          "value": "lg:pt-32",
          "label": "Large"
        },
        {
          "value": "lg:pt-64",
          "label": "x-Large"
        }
      ],
      "default": "lg:pt-8"
    },
    {
      "type": "select",
      "id": "spacing_bottom_desktop",
      "label": "Spacing Bottom",
      "options": [
        {
          "value": "lg:pb-0",
          "label": "None"
        },
        {
          "value": "lg:pb-8",
          "label": "Small"
        },
        {
          "value": "lg:pb-26",
          "label": "Medium"
        },
        {
          "value": "lg:pb-32",
          "label": "Large"
        },
        {
          "value": "lg:pb-64",
          "label": "x-Large"
        }
      ],
      "default": "lg:pb-8"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "breadcrumbs",
      "name": "Breadcrumbs",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "breadcrumb_alignment",
          "label": "Breadcrumb Alignment",
          "options": [
            {
              "label": "Left",
              "value": "justify-start"
            },
            {
              "label": "Center",
              "value": "justify-center"
            },
            {
              "label": "Right",
              "value": "justify-end"
            }
          ],
          "default": "justify-start"
        }
      ]
    },
    {
      "type": "header",
      "name": "Header",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "content_alignment",
          "label": "Content Alignment",
          "options": [
            {
              "label": "Left",
              "value": "text-left"
            },
            {
              "label": "Center",
              "value": "text-center"
            },
            {
              "label": "Right",
              "value": "text-right"
            }
          ],
          "default": "text-left"
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}
