<section class="container mx-auto px-4 sm:px-6 lg:px-8">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
        {% render block %}
      {%- when 'breadcrumbs' -%}
        {%- render 'breadcrumb' -%}
      {%- when 'page_title' -%}
        <h1 class="mt-0 text-lg pb-4 lg:pb-11 {{ block.settings.title_alignment }} {% if block.settings.show_border %}lg:mb-10 border-b border-solid border-[#0003]{% endif %}">
          {{ page.title }}
        </h1>
      {%- when 'cart' -%}
        <div class="mt-12 lg:grid lg:grid-cols-12 lg:gap-x-12 lg:items-start xl:gap-x-16">
          <div class="lg:col-span-7">
            <cart-items aria-busy="false" class="block relative" id="cart-items" data-view="cart">
              <!-- Spinner -->
              <div class="spinner-overlay loading [ absolute items-center justify-center bg-opacity-80 bg-white z-10 top-0 left-0 right-0 bottom-0 ]">
                <svg
                  focusable="false"
                  role="presentation"
                  class="spinner w-10 h-10 mx-auto"
                  viewBox="0 0 66 66"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>

              <div class="mt-5" id="cart-items-container">
                {%- if cart.items.size == 0 -%}
                  <p class="mb-12">{{ 'cart.general.empty' | t }}</p>
                {%- else -%}
                  <form action="{{ routes.cart_url }}" method="post" novalidate class="">
                    <section aria-labelledby="cart-heading">
                      <h2 id="cart-heading" class="sr-only">Items in your shopping cart</h2>
                      <ul class="mt-1">
                        {%- for item in cart.items -%}
                          <li class="flex {% unless forloop.last %}mb-4{% endunless %}">
                            <div class="flex-shrink-0 w-24 lg:w-32 overflow-hidden">
                              <a href="{{ item.url }}">
                                <img
                                  src="{{ item.image | image_url: width: 150 }}"
                                  width="{{ item.image.width }}"
                                  height="{{ item.image.height }}"
                                  loading="lazy"
                                  class="block w-16 lg:w-24 h-auto object-center object-cover"
                                >
                              </a>
                            </div>

                            <div class="ml-4 flex-1 flex flex-col">
                              <div class="flex mb-8">
                                <p class="flex-grow">
                                  <a href="{{ item.url }}" class="text-xs">{{ item.product.title }}</a>
                                </p>

                                <!-- {{ item | json }} -->
                                <cart-remove-button
                                  data-item-key="{{ item.key }}"
                                  type="button"
                                  class="appearance-none cursor-pointer"
                                >
                                  <span class="text-xs underline text-secondary">Remove</span>
                                </cart-remove-button>
                              </div>
                              <div class="flex">
                                <div class="flex-1">
                                  <p class="text-xs">{{ item.variant.title | escape }}</p>
                                </div>
                                <div class="flex-1">
                                  <p class="text-xs">Qty {{ item.quantity }}</p>
                                </div>
                                <div class="flex-1">
                                  <p class="text-xs">{{ item.price | money_with_currency }}</p>
                                </div>
                              </div>
                              {%- comment -%}
                                <div>
                                  <p class="heading mb-2 text-sm flex-shrink-0">{{ item.price | money_with_currency }}</p>
                                  {%- unless item.selling_plan_allocation.selling_plan.name == blank -%}
                                    <p class="font-bold mb-2">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                                  {%- endunless -%}
                                  {%- if item.original_price > item.price -%}
                                    <span class="text-xs strike-through">{{ item.original_price | money_with_currency }}</span>
                                  {%- endif -%}

                                  {%- for selling_plan in item.selling_plan_allocation -%}
                                    {{ selling_plan.name }}
                                  {%- endfor -%}
                                  {%- unless item.properties.size == 0 -%}
                                    <div class="mt-1 flex">
                                      {% for property in line_item.properties %}
                                        <p class="text-xs">{{ property.first }}: {{ property.last }}</p>
                                      {% endfor %}
                                    </div>
                                  {%- endunless -%}
                                  <div class="flex flex-row">
                                    <p class="text-xs pr-4">QTY x {{ item.quantity }}</p>
                                  </div>
                                </div>
                              {%- endcomment -%}
                            </div>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </section>
                  </form>
                {%- endif -%}
              </div>
            </cart-items>
          </div>
          <!-- Order summary -->
          <section
            id="cart-summary"
            aria-labelledby="summary-heading"
            class="mt-4 mb-4 bg-[#fffaf3] rounded-lg lg:col-span-5"
          >
            <div class="px-4 py-6 sm:p-6 lg:p-8 lg:pb-0 lg:mt-0">
              <h2 id="summary-heading" class="text-lg">Order summary</h2>

              <div class="mt-6 space-y-4" id="cart-prices">
                {% comment %}
                  <div class="border-t border-gray-200 pt-4 flex items-center justify-between">
                    <p class="heading text-base">
                      {{ 'cart.general.subtotal' | t }}
                    </p>
                    <p id="cart-prices" class="text-base">
                      {%- if cart.original_total_price > cart.total_price -%}
                        <small>{{ cart.original_total_price | money_with_currency }}</small>
                      {%- endif -%}
                      {{ cart.total_price | money_with_currency }}
                    </p>
                  </div>
                {% endcomment %}
                <div class="pb-4 flex justify-between">
                  <p class="text-secondary">{{ cart.item_count }} items</p>
                  <p class="text-secondary">{{ cart.items_subtotal_price | money_with_currency }}</p>
                </div>
                <div class="[ flex justify-between items-end text-base pb-4 ]">
                  <p class="text-sm heading">{{ 'cart.general.subtotal' | t }}</p>
                  <p class="heading text-lg uppercase tracking-widest">
                    {%- if cart.original_total_price > cart.total_price -%}
                      <small>{{ cart.original_total_price | money_with_currency }}</small>
                    {%- endif -%}
                    {{ cart.total_price | money_with_currency }}
                  </p>
                </div>
              </div>

              {%- if section.settings.show_order_notes and cart.items.size > 0 -%}
                <div class="mt-6" x-data="{ notesOpen: false }" rv-show="cart.item_count | gt 0">
                  <p class="cursor-pointer">
                    <span @click="notesOpen = true" x-show="!notesOpen"
                      >+ {{ 'cart.general.add_delivery_note' | t -}}
                    </span>
                    <span x-show="notesOpen" @click="notesOpen = false">
                      <!-- Heroicon name: solid/x -->
                      <svg
                        class="inline"
                        xmlns="http://www.w3.org/2000/svg"
                        height="10"
                        width="10"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                      >
                        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                      </svg>
                      {{ 'cart.general.close_delivery_note' | t }}
                    </span>
                  </p>
                  <div class="mt-4" x-show="notesOpen">
                    <label class="block text-sm pb-2" for="CartSpecialInstructions">
                      {{- 'cart.general.note' | t -}}
                    </label>
                    <textarea
                      class="[ w-full appearance-none rounded-none relative py-3 px-4 border leading-tight border-gray-400 placeholder-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 ]"
                      rows="3"
                      name="note"
                      id="CartSpecialInstructions"
                    >{{ cart.note }}</textarea>
                  </div>
                </div>
              {%- endif -%}
            </div>

            <div id="cart-checkout">
              {%- if cart.items.size > 0 -%}
                <div class="py-6 px-4 sm:px-6">
                  {% comment %} <p class="mt-1 text-xs">{{ 'cart.general.shipping_at_checkout' | t }}</p> {% endcomment %}
                  <div class="mt-6">
                    <a href="/checkout" class="btn checkout-button flex justify-center items-center px-6 py-3">
                      {{- 'cart.general.checkout' | t -}}
                    </a>
                  </div>
                </div>
              {%- endif -%}
            </div>
          </section>
        </div>
    {%- endcase -%}
  {%- endfor -%}
</section>

{%- if settings.development_mode -%}
  <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- else -%}
  <script src="{{ 'cart.min.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "Cart",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_order_notes",
      "label": "Show order notes?",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "breadcrumbs",
      "name": "Breadcrumbs",
      "limit": 1
    },
    {
      "type": "page_title",
      "name": "Page Title",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_border",
          "label": "Show Bottom Border?"
        },
        {
          "type": "select",
          "id": "title_alignment",
          "label": "Title Alignment",
          "options": [
            {
              "label": "Left",
              "value": "text-left"
            },
            {
              "label": "Center",
              "value": "text-center"
            },
            {
              "label": "Right",
              "value": "text-right"
            }
          ],
          "default": "text-left"
        }
      ]
    },
    {
      "type": "cart",
      "name": "Cart",
      "limit": 1
    }
  ]
}
{% endschema %}
