{%- paginate blog.articles by 6 -%}
  {%- if current_tags -%}
    {%- capture blog_title -%}{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}{%- endcapture -%}
  {%- endif -%}

  <section class="[ mt-8 max-w-2xl mx-auto px-4 sm:px-6 lg:container lg:px-8 ]">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'breadcrumbs' -%}
          {% render 'breadcrumb', list_classes: block.settings.breadcrumb_alignment %}
        {%- when 'header' -%}
          {% render 'page-header' %}
        {%- when 'article_grid' -%}
          <div
            id="mainBlogGrid"
            class="mt-12 max-w-lg mx-auto grid gap-5 {{ block.settings.articles_per_row_mobile }} {{ block.settings.articles_per_row_tablet }} {{ block.settings.articles_per_row_desktop }} lg:max-w-none"
          >
            {%- for article in blog.articles -%}
              {% render 'article-grid-item' with article: article %}
            {%- endfor -%}
          </div>
      {%- endcase -%}
    {%- endfor -%}

    {%- if paginate.pages > 1 -%}
      <div class="flex justify-center mt-4 mb-10">
        <infinite-scrolling
          class="infinite-scrolling"
          data-autoload="false"
          data-item-grid="#mainBlogGrid"
          data-section="main-blog"
        >
          {%- if paginate.next -%}
            <button
              aria-label="{{ 'pagination.load_more' | t }}"
              aria-hidden="false"
              aria-busy="false"
              data-url="{{ page.url }}{{ paginate.next.url }}"
              class="leading-none py-4 px-4 lg:px-10 uppercase primary-button"
            >
              <span class="leading-none loading">{{ 'pagination.loading' | t }}</span>
              <span class="leading-none default">{{ 'pagination.load_more' | t }}</span>
            </button>
          {%- endif -%}
        </infinite-scrolling>
      </div>
      <script defer="defer" src="{{ 'component-infinite-scrolling.js' | asset_url }}"></script>
    {%- endif -%}
  </section>
{%- endpaginate -%}

{% schema %}
{
  "name": "Blog",
  "settings": [],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "breadcrumbs",
      "name": "Breadcrumbs",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "breadcrumb_alignment",
          "label": "Breadcrumb Alignment",
          "options": [
            {
              "label": "Left",
              "value": "justify-left"
            },
            {
              "label": "Center",
              "value": "justify-center"
            },
            {
              "label": "Right",
              "value": "justify-right"
            }
          ],
          "default": "justify-left"
        }
      ]
    },
    {
      "type": "header",
      "name": "Header",
      "limit": 1
    },
    {
      "type": "article_grid",
      "name": "Article Grid",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "articles_per_row_mobile",
          "label": "Articles per row - Mobile",
          "options": [
            {
              "value": "grid-cols-1",
              "label": "1"
            },
            {
              "value": "grid-cols-2",
              "label": "2"
            }
          ],
          "default": "grid-cols-1"
        },
        {
          "type": "select",
          "id": "articles_per_row_tablet",
          "label": "Articles per row - Tablet",
          "options": [
            {
              "value": "md:grid-cols-1",
              "label": "1"
            },
            {
              "value": "md:grid-cols-2",
              "label": "2"
            }
          ],
          "default": "md:grid-cols-2"
        },
        {
          "type": "select",
          "id": "articles_per_row_desktop",
          "label": "Articles per row - Desktop",
          "options": [
            {
              "value": "lg:grid-cols-1",
              "label": "1"
            },
            {
              "value": "lg:grid-cols-2",
              "label": "2"
            },
            {
              "value": "lg:grid-cols-3",
              "label": "3"
            }
          ],
          "default": "lg:grid-cols-3"
        }
      ]
    }
  ]
}
{% endschema %}
