{%- liquid
assign background_color = section.settings.background_color
assign section_spacing_top = section.settings.section_spacing_top
assign section_spacing_bottom = section.settings.section_spacing_bottom
assign section_heading = section.settings.section_heading
assign section_description = section.settings.section_description -%}

<div class="bg-white {{ section_spacing_top }} {{ section_spacing_bottom }}" style="background-color: {{ background_color }};">
    <div class="max-w-2xl mx-auto py-24 px-4 py-4 md:py-8 lg:container lg:px-8">
        <div class="max-w-3xl mx-auto text-center">
            {%- unless section_heading == blank -%}
            <h2 class="text-3xl sm:text-4xl">{{ section_heading }}</h2>
            {%- endunless -%}
            {%- unless section_description == blank -%}
            <p class="mt-4">{{ section_description }}</p>
            {%- endunless -%}
        </div>

        <div class="mt-16 space-y-16">
            {%- for block in section.blocks -%}
            {%- liquid 
            assign heading = block.settings.heading
            assign content = block.settings.content
            assign image = block.settings.image -%}
            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
            <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
                {%- if thecycle == "odd" -%}
                <div class="mt-6 lg:mt-0 lg:row-start-1 lg:col-span-5 xl:col-span-4 lg:col-start-1">
                {%- else -%}
                <div class="mt-6 lg:mt-0 lg:row-start-1 lg:col-span-5 xl:col-span-4 lg:col-start-8 xl:col-start-9">
                {%- endif -%}
                    {%- unless heading == blank -%}
                    <h3>{{ heading }}</h3>
                    {%- endunless -%}
                    {%- unless content == blank -%}
                    <p class="mt-2">{{ content }}</p>
                    {%- endunless -%}
                </div>
                {%- unless block.settings.image == blank -%}
                {%- if thecycle == "odd" -%}
                <div class="flex-auto lg:row-start-1 lg:col-span-7 xl:col-span-8 lg:col-start-6 xl:col-start-5">
                {%- else -%}
                <div class="flex-auto lg:row-start-1 lg:col-span-7 xl:col-span-8 lg:col-start-1">
                {%- endif -%}
                    <div class="aspect-w-5 aspect-h-2 rounded-lg bg-gray-100 overflow-hidden">
                        {% render 'responsive-image' with image: image %}
                    </div>
                </div>
                {%- endunless -%}
            </div>
            {%- endfor -%}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Alternating Content",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#FEFEFE"
    },
    {
      "type": "select",
      "id": "section_spacing_top",
      "label": "Section Top Spacing",
      "options": [
        {
          "value": "mt-0",
          "label": "None"
        },
        {
          "value": "mt-4",
          "label": "Small"
        },
        {
          "value": "mt-8",
          "label": "Medium"
        },
        {
          "value": "mt-16",
          "label": "Large"
        }
      ],
      "default": "mt-4"
    },
    {
      "type": "select",
      "id": "section_spacing_bottom",
      "label": "Section Bottom Spacing",
      "options": [
        {
          "value": "mb-0",
          "label": "None"
        },
        {
          "value": "mb-4",
          "label": "Small"
        },
        {
          "value": "mb-8",
          "label": "Medium"
        },
        {
          "value": "mb-16",
          "label": "Large"
        }
      ],
      "default": "mb-4"
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading"
    },
    {
      "type": "text",
      "id": "section_description",
      "label": "Section Description"
    }
  ],
  "blocks": [
    {
      "type": "content_block",
      "name": "Content Block",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}